.opop
  text-align center

span.ng-binding.ng-scope
  color: black!important

.Edit-data-Container
   height 107px
   display block

.Edit-data
  &-input
    padding 10px 5px
    border 1px solid #545454
  &-icon
    padding: 13px 14px
    border: 1px solid #545454
    color white
    background #227fde
    position relative
    right 5px
  &-label
    display block

.Edit-data-validationContainer
  text-align center
  display block
