<h2>hola desde usuarios-update</h2>

<form class="opop" name="updateForm" >

<div class="opop2">

<div class="Edit-data-Container">
  <label class="Edit-data-label"for="name">Nombres</label>
  <input class="Edit-data-input"  ng-disabled="!vm.editar" type="text" name="name" ng-model="vm.user.name" ng-pattern="/^[A-Za-z\s]+$/" required ng-minlength="3" ng-maxlength="30" placeholder="Nombre">
  <i class="fa fa-user Edit-data-icon" aria-hidden="true"></i>
  <div class="Edit-data-validationContainer" ng-messages="updateForm.name.$error" ng-show="updateForm.name.$dirty">
    <div class="Edit-data-validation" ng-message="pattern">ingrese solo letras en este campo</div>
    <div class="Edit-data-validation" ng-message="required">este campo es requerido</div>
    <div class="Edit-data-validation" ng-message-exp="['maxlength', 'minlength']">solo se permiten nombres mayores<br> a 3 digitos y menores a 30</div>
  </div>
</div>

<div class="Edit-data-Container">
  <label class="Edit-data-label"  for="lastName">Apellidos</label>
  <input class="Edit-data-input" ng-disabled="!vm.editar" type="text" name="lastName" ng-model="vm.user.lastName" ng-pattern="/^[A-Za-z\s]+$/" required ng-minlength="3" ng-maxlength="30" placeholder="Apellidos">
  <i class="fa fa-user Edit-data-icon" aria-hidden="true"></i>
  <div class="Edit-data-validationContainer" ng-messages="updateForm.lastName.$error" ng-show="updateForm.lastName.$dirty">
    <div class="Edit-data-validation" ng-message="pattern">ingrese solo letras en este campo</div>
    <div class="Edit-data-validation" ng-message="required">este campo es requerido</div>
    <div class="Edit-data-validation" ng-message-exp="['maxlength', 'minlength']">solo se permiten nombres mayores<br> a 3 digitos y menores a 30</div>
  </div>

  <md-button ng-if="!vm.editar" class="md-primary md-raised" ng-click="vm.modificar()" >
      Editar
    </md-button>
    <md-button ng-if="vm.editar" class="md-primary md-raised" ng-disabled="updateForm.$invalid" ng-click="vm.showConfirm($event)" >
        Confirm Dialog
      </md-button>
</div>
</div>


</form>
