.Contact
    background white

.Contact-container
    width 80%
    margin auto

.Contact-Section
    border-bottom 1px solid silver
    margin auto
    text-align center
.ContactSection-Container
  border-bottom: 1px solid silver
.UbicacionMap-container
  display inline-block
.Contact-SectionTitle
    font-size 25px
    text-transform uppercase
    padding-bottom 10px

.Contact-SectionTitleB
    color rgb(255, 88, 0)

.Contact-imageContainer
    display inline-block
    text-align center
    width 210px
    margin 0

.Contact-imagePhone
    width 125px
    padding 12px

.Contact-image
    width 169px
    height 125px

.Contact-form
  width 51%
  padding 20px 0 40px
  display inline-block
  text-align center
.Form-input
  width 90%
  text-align center
  padding 8px
  border 1px solid gray
  margin 12px auto
  max-width 300px
.Contactform-nameIcon, .Contactform-phoneIcon, .Contactform-emailIcon
  border 1px solid gray
  padding 11px
  background #227fde
  color white
  position relative
  right 5px
.ButtonContainer-contact
  background linear-gradient(to right, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%)
  font-size 20px
  padding 3px
  text-align center
  width 115px
  margin auto
  border-radius 5px
  box-shadow 0 5px 5px #227fde
  position relative
  transition all .1s
  top 0
  border: 1px solid gray;
  &:hover
      top 3px
      box-shadow 0 2px 0px #eaab44

.Form-inputMensaje
    display block
    width 90%
    margin 20px auto
    text-align center
    border-radius 1px
    resize none
    border 1px solid gray
    height 80px
    max-width 316px
    padding 10px

.Form-inputButton
    display block
    margin 20px auto

.Publicity
    display inline-block
    position relative
    bottom 135px
    right 100px

.Ubication-map
  position relative
  top 70px
  left 100px
.Contact-us-Map
  border 0
  width 100% !important
  height 20em
  border 2px solid #e6e6e6 !important
  border-radius 10% !important


.Publicity-text
    width 70%
    margin auto
    text-align justify
    margin-top 2em
    line-height 30px

.Publicity-text2
    width 75%
    margin auto
    text-align center
    margin-top 2em
    line-height 30px
    padding-bottom: 2em

.Publicity-link
  color chocolate
  font-weight bold

@media screen and (max-width: 850px)
    .Contact-form
      width 100%
      margin auto
    .Publicity
      display block
      margin auto
      position initial
    .Contact-imageContainer
      display block
      margin auto
    .Ubication-map
      position inherit
    .UbicacionMap-container
      display block
      width 60%
      margin 0 auto 2em
      min-width 235px
    .Form-input
      width 80%
