.Contact
  background #E6E6E6


.Contact-Section
  border-bottom white 2px solid
  width 90%
  margin auto
  padding 2em


.Contact-SectionTitle
  display inline-block
  font-size 2.5em


.Contact-titleImageContainer
  display inline-block
  margin 0


.Contact-titleImage
  width 40%


.Contact-imageContainer
  display inline-block
  margin 0
  margin-right 0.5em


.Contact-image
  height 190px
  width 235px


.Form
  margin-left 5em


.Form-inputName
  display block
  padding 0.5em
  width 20em
  text-align center
  border-radius 15px
  border none
  margin-bottom 1em
  margin-top 4em


.Form-inputLastname
  display block
  padding 0.5em
  width 20em
  text-align center
  border-radius 15px
  border none
  margin-bottom 1em


.Form-inputTelephone
  display block
  padding 0.5em
  width 20em
  text-align center
  border-radius 15px
  border none
  margin-bottom 1em


.Form-inputEmail
  display block
  padding 0.5em
  width 20em
  text-align center
  border-radius 15px
  border none
  margin-bottom 1em


.Form-inputMensaje
  display block
  padding 8.5em
  width 20em
  text-align center
  border-radius 15px
  border none
  margin-bottom 1em
  resize none


.Form-inputButton
  display block
  padding 10px
  width 10em
  margin-left 5em
  border-radius 5px
  border none


.Publicity
  position relative
  left 55em
  bottom 37em
  width 45%
  text-align center


.Publicity-descriptionImage
  text-align center


.Publicity-text
  margin-top 5em
  text-align center


.Publicity-text2
  margin-top 2em
  text-align center
