.Contact
    background white

.Contact-container
    width 80%
    margin auto

.Contact-Section
    border-bottom 3px solid #e6e6e6
    margin auto
    text-align center

.Contact-SectionTitle
    font-size 25px
    text-transform uppercase
    padding-bottom 10px

.Contact-SectionTitleB
    color rgb(255, 88, 0)

.Contact-imageContainer
    display inline-block
    text-align center
    width 210px
    margin 0

.Contact-imagePhone
    width 125px
    padding 12px

.Contact-image
    width 169px
    height 125px

.Contact-form
    width 51%
    padding 20px 0 40px
    display inline-block

.Form-input
    display block
    width 90%
    text-align center
    padding 8px
    border-radius 9px
    border 1px solid gray
    margin 20px auto
    max-width 300px

.ButtonContainer-contact
    background linear-gradient(to right, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%)
    font-size 20px
    padding 9px
    text-align center
    width 115px
    margin auto
    border-radius 5px
    box-shadow 0 5px 0px #eaab44
    position relative
    transition all .1s
    top 0
    &:hover
        top 3px
        box-shadow 0 2px 0px #eaab44

.Form-inputMensaje
    display block
    width 90%
    margin 20px auto
    text-align center
    border-radius 5px
    resize none
    border 1px solid gray
    height 80px
    max-width 316px
    padding 10px

.Form-inputButton
    display block
    margin 20px auto

.Publicity
    display inline-block
    position relative
    bottom 135px
    right 100px

.Publicity-text
    width 70%
    margin auto
    text-align justify
    margin-top 2em
    line-height 30px

.Publicity-text2
    width 70%
    margin auto
    text-align center
    margin-top 2em
    line-height 30px

.Publicity-link
  color chocolate
  font-weight bold

@media screen and (max-width: 800px)
    .Contact-form
        width 100%
        margin auto
    .Publicity
        display block
        margin auto
        position initial
    .Contact-imageContainer
        display block
        margin auto
