<!--ADMINISTRATOR PROFILE WORKER -->
<section class="WorkProfile-sectionContainer">
  <div class="WorkProfile-section">
    <md-content>
      <md-tabs md-center-tabs="true" md-dynamic-height md-border-bottom>
        <md-tab label="editar perfil">
          <md-content class="md-padding">

            <div class="WorkProfile-personalDataContainer">
              <h2 class="WorkProfile-personalDataTitle">Datos Personales</h2>

              <div class="WorkProfile">

                <!--ADMINISTRATOR PROFILE WORKER -IMAGE- -->
                <figure class="WorkProfile-imageContainer">
                  <img src="assets/Main-images/engineer.png" alt=""class="WorkProfile-image">

                <!--ADMINISTRATOR PROFILE WORKER - DESCRIPTION -->
                <div class="WorkProfile-Description">
                  <textarea name="name" rows="5" cols="30" class="WorkProfile-DescriptionText" placeholder="Perfil del Trabajador"></textarea>
                </div>
              </div>

              <!--ADMINISTRATOR PROFILE WORKER -PERSONAL DATA- -->
              <form name="editForm" class="WorkProfile-personalData-form" ng-submit="editForm.$valid && vm.editUser()">

                <div class="WorkProfile-personalData">

                  <div class="WorkProfile-personalDataContainer">

                    <!--DOCUMENT TYPE -->
                    <div class="WorkProfile-documentTypeContainer">
                      <label  class=""for="DocumentType">Tipo documento</label>
                      <input type="text" name="DocumentType" ng-disabled="true" ng-model="vm.user.idDocumentType.id" value="" class="WorkProfile-documentTypeLabel" placeholder="Otro...">
                    </div>

                    <!--IDENTIFICATION -->
                    <div class="WorkProfile-identificationContainer">
                      <label class=""for="identificationNumber">Numero de identificacion</label>
                      <input type="text" name="identificationNumber" ng-model="vm.user.identificationNumber" ng-disabled="true" value="" class="WorkProfile-identificationLabel">
                    </div>

                    <!--NAME -->
                    <div class="WorkProfile-namesContainer">
                      <label class=""for="name">Nombres</label>
                      <input type="text" name="name" ng-model="vm.user.name" ng-pattern="/^[A-Za-z\s]+$/" required ng-minlength="3" ng-maxlength="30" value="" class="WorkProfile-nameInput" placeholder="Nombre">
                      <div class="WorkProfile-name-validationContainer" ng-messages="editForm.name.$error" ng-show="editForm.name.$dirty">
                        <div class="WorkProfile-name-validation1" ng-message="pattern">ingrese solo letras en este campo</div>
                        <div class="WorkProfile-name-validation2" ng-message="required">este campo es requerido</div>
                        <div class="WorkProfile-name-validation3" ng-message-exp="['maxlength', 'minlength']">solo se permiten nombres mayores<br> a 3 digitos y menores a 30</div>
                      </div>
                    </div>

                    <!--LAST NAME -->
                    <div class="WorkProfile-lastNamesContainer">
                      <label class="WorkProfile-lastNameLabel"for="lastName">Apellidos</label>
                      <input type="text" name="lastName" ng-model="vm.user.lastName" ng-pattern="/^[A-Za-z\s]+$/" required ng-minlength="3" ng-maxlength="30" value="" class="WorkProfile-lastNameInput" placeholder="Apellido">
                      <div class="WorkProfile-lastName-validationContainer" ng-messages="editForm.lastName.$error" ng-show="editForm.lastName.$dirty">
                        <div class="WorkProfile-lastName-validation1" ng-message="pattern">ingrese solo letras en este campo</div>
                        <div class="WorkProfile-lastName-validation2" ng-message="required">este campo es requerido</div>
                        <div class="WorkProfile-lastName-validation3" ng-message-exp="['maxlength', 'minlength']">solo se permiten nombres mayores<br> a 3 digitos y menores a 30</div>
                      </div>
                    </div>

                    <!--GENDER -->
                    <div class="WorkProfile-genderContainer">
                      <label class="WorkProfile-gender"for="gender">Sexo</label>
                      <select class="WorkProfile-genderSelect"name="gender" ng-model="vm.user.gender" ng-options="x for x in vm.gender"></select>
                    </div>



                    <!--EMAIL -->
                    <div class="WorkProfile-emailContainer">
                      <label class="WorkProfile-emailLabel"for="email">Email</label>
                      <input type="text" name="email" ng-model="vm.user.email" value="" ng-disabled="true" class="WorkProfile-emailInput" placeholder="Otro...">
                    </div>

                    <!--TELEPHONE NUMBER -->
                    <div class="WorkProfile-numberTelephoneContainer">
                      <label class="WorkProfile-phoneNumberLabel"for="phoneNumber">Numero telefonico</label>
                      <input type="text" name="phoneNumber" ng-model="vm.user.phoneNumber" ng-pattern="/^[0-9]*$/" ng-minlength="7" ng-maxlength="10" required value="" class="WorkProfile-phoneNumberInput" placeholder="Teléfono">
                      <div class="WorkProfile-phoneNumber-validationContainer" ng-messages="editForm.phoneNumber.$error" ng-show="editForm.phoneNumber.$dirty">
                        <div class="WorkProfile-phoneNumber-validation1"ng-message="pattern">ingrese solo numeros en este campo</div>
                        <div class="WorkProfile-phoneNumber-validation2"ng-message="required">este campo es requerido</div>
                        <div class="WorkProfile-phoneNumber-validation3"ng-message-exp="['maxlength','minlength']">solo se permiten valores mayores<br> a 6 digitos y menores a 11</div>
                      </div>
                    </div>
                    
                    <!--CITY -->
                    <div class="WorkProfile-cityContainer">
                      <label class="WorkProfile-cityLabel"for="city">Ciudad</label>
                      <select class="WorkProfile-citySelect" ng-model="vm.user.idCity.id" name="city">
                        <option class="WorkProfile-cityOptions" ng-value="item.id" ng-repeat="item in vm.cities" ng-bind="item.name"></option>
                      </select>
                    </div>

                    <!--CONTACT BY EMAIL -->
                    <div class="WorkProfile-emailContainer">
                      <label class="WorkProfile-emailLabel"for="contactEmail">Contactar por correo </label>
                      <input type="checkbox" name="contactEmail" ng-model="vm.user.contactEmail" class="WorkProfile-emailInput" placeholder="Otro...">
                    </div>

                    <!-- SOCIAL NETWORKS-->
                    <div class="WorkProfile-socialNetworksContainers">
                      <label class="WorkProfile-socialNetworksLabel"for="contactSocialNetworks">Contactar por redes sociales</label>
                      <input type="checkbox" name="contactSocialNetworks" ng-model="vm.user.contactSocialNetworks" value="" class="WorkProfile-socialNetworkInput" placeholder="Otro...">
                    </div>

                    <!--CONTACT BY EMAIL-SOCIAL NETWORK1 -->
                    <div class="WorkProfile-socialNetwork1Container">
                      <label class="WorkProfile-socialNetwork1-label"for="socialNetwork1">Red social 1</label>
                      <input type="text" name="socialNetwork1" ng-model="vm.user.socialNetworks1" value="" class="WorkProfile-socialNetwork1-input" placeholder="Otro...">
                    </div>

                    <!--CONTACT BY EMAIL-SOCILA NETWORK2 -->
                    <div class="WorkProfile-socialNetwork2Container">
                      <label class="WorkProfile-socialNetwork2-label"for="socialNetwork2">Red social 2</label>
                      <input type="text" name="socialNetwork2" ng-model="vm.user.socialNetworks2" value="" class="WorkProfile-socialNetwork2-input" placeholder="Otro...">
                    </div>

                    <!--CHANGE PASSWORD -->
                    <div class="WorkProfile-changePasswordContainer">
                      <label class="WorkProfile-changePasswordLabel"for="changePasswd">Cambiar contraseña</label>
                      <input type="checkbox" name="changePasswd" ng-model="vm.newPassw" class="WorkProfile-changePassword-input" placeholder="Otro...">
                    </div>

                    <!--NEW PASSWORD -->
                    <div ng-if="vm.newPassw" class="WorkProfile-newPasswordContainer">
                      <label class="WorkProfile-newPasswordLabel"for="newPasswd">Nueva contraseña</label>
                      <input class="WorkProfile-newPasswordInput"type="password" name="newPasswd" ng-minlength="6" ng-maxlength="16" ng-pattern="/^(?=.*\d)(?=.*[a-zA-z])(?!.*\s).*$/" required ng-model="vm.newPassword" class="" placeholder="Otro...">
                      <div class="WorkProfile-newPassword-validationContainer"ng-messages="editForm.newPasswd.$error" ng-show="editForm.newPasswd.$dirty">
                        <div class="WorkProfile-newPassword-validation1"ng-message="pattern">Debe contener al menos una letra <br>, un numero y sin espacios</div>
                        <div class="WorkProfile-newPassword-validation2"ng-message="required">este campo es requerido</div>
                        <div class="WorkProfile-newPassword-validation3"ng-message-exp="['maxlength', 'minlength']">solo se permiten contraseñas mayores<br> a 6 digitos y menores a 16</div>
                      </div>

                      <!--CONFIRM PASSWORD -->
                      <label class="WorkProfile-confirmPasswordLabel"for="confirmPasswd">Confirmar contraseña</label>
                      <input class="WorkProfile-confirmPasswordInput"type="password" name="confirmPasswd" ng-model="vm.confirmPasswd" required compare-to="vm.newPassword">
                      <div class="WorkProfile-confirmPassword-validationContainer" ng-messages="editForm.confirmPasswd.$error" ng-show="editForm.confirmPasswd.$dirty">
                        <div class="WorkProfile-confirmPassword-validation1"ng-message="compareTo">la contraseña no coincide</div>
                        <div class="WorkProfile-confirmPassword-validation2"ng-message="required">este campo es requerido</div>
                      </div>
                    </div>

                    <!--BUTTON SAVE-->
                    <button type="submit" class="Editform-button" ng-disabled="editForm.$invalid" name="button">Editar datos</button>
                  </div>
                </div>
              </form>

            </div>


            <!--ADMINISTRATOR PROFILE WORKER - ESPECIALIZATION -->
            <div class="WorkProfile-Specializations">
              <h2 class="WorkProfile-SpecializationsTitle">Especializaciones</h2>
              <div class="WorkProfile-SpecializationsContainer">
                <select class="WorkProfile-SpecializationsList" name="">
                    <option value="option" class="WorkProfile-SpecializationsOption1">option</option>
                    <option value="option" class="WorkProfile-SpecializationsOption2">option</option>
                    <option value="option" class="WorkProfile-SpecializationsOption3">option</option>
                    <option value="option" class="WorkProfile-SpecializationsOption4">option</option>
                    <option value="option" class="WorkProfile-SpecializationsOption5">option</option>

                  </select>
              </div>
            </div>


            <!--ADMINISTRATOR PROFILE WORKER - CERTIFICATIONS -->
            <div class="WorkProfile-Certifications">
              <h2 class="WorkProfile-CertificationsTitle"></h2>
              <div class="WorkProfile-CertificationsContainer">
                <input type="text" name="name" value="" class="WorkProfile-Certifications1" placeholder="Certificación">
                <input type="file" name="name" value="" class="WorkProfile-CertificationsFile1">

                <input type="text" name="name" value="" class="WorkProfile-Certifications2" placeholder="Certificación">
                <input type="file" name="name" value="" class="WorkProfile-CertificationsFile2">

                <input type="text" name="name" value="" class="WorkProfile-Certifications3" placeholder="Certificación">
                <input type="file" name="name" value="" class="WorkProfile-CertificationsFile3">

                <input type="text" name="name" value="" class="WorkProfile-Certifications4" placeholder="Certificación">
                <input type="file" name="name" value="" class="WorkProfile-CertificationsFile4">

                <input type="text" name="name" value="" class="WorkProfile-Certifications5" placeholder="Certificación">
                <input type="file" name="name" value="" class="WorkProfile-CertificationsFile5">
              </div>
            </div>



          </md-content>
        </md-tab>
        <md-tab label="trabajos hechos">
          <md-content class="md-padding">

            <!--ADMINISTRATOR PROFILE WORKER - WORK DONE -->
            <div class="WorkProfile-WorkDone">
              <h2 class="WorkProfile-WorkDoneTitle"></h2>
              <div class="WorkProfile-WorkDoneContainer">
                <figure class="WorkProfile-WorkDoneImageContainer">
                  <img src="" alt="Trabajo realizado" class="WorkProfile-WorkDoneImage">
                </figure>
                <textarea name="name" rows="8" cols="80" class="WorkProfile-WorkDoneDescription" placeholder="Descripción"></textarea>
                <button type="button" name="button" class="WorkProfile-WorkDoneButton">Agregar</button>
                <textarea name="name" rows="1" cols="10" class="WorkProfile-WorkDonePrice" placeholder=" $ Precio"></textarea>
              </div>

              <div class="WorkProfile-WorkDoneSlider">
                <img src="assets/Works-profile/remodelacion1.jpg" alt="Imagen" class="WorkProfile-WorkDoneSlider-image1">
                <img src="assets/Works-profile/remodelacion2.jpg" alt="Imagen" class="WorkProfile-WorkDoneSlider-image2">
                <img src="assets/Works-profile/remodelacion3.jpg" alt="Imagen" class="WorkProfile-WorkDoneSlider-image3">
                <img src="assets/Works-profile/remodelacion4.jpg" alt="Imagen" class="WorkProfile-WorkDoneSlider-image4">
                <div class="WorkProfile-plusImageContainer">

                  <a href="#" class="WorkProfile-plusImageName"><i class="WorkProfile-plusImage fa fa-plus" aria-hidden="true"></i>Agregar</a>
                </div>

              </div>

            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</section>
