.tabsdemoDynamicHeight md-content
  background-color transparent !important

.tabsdemoDynamicHeight md-content md-tabs
    background #f6f6f6
    border 1px solid #e1e1e1

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper
    background white

.tabsdemoDynamicHeight md-content h1:first-child
    margin-top 0

md-tab-item span
    color red

@media screen and (max-width: 383px) {
 .md-tab {
    font-size: 12px;
  }
}

.WorkProfile-section
  text-align center
.WorkProfile-personalData-form
  display inline-block
.WorkProfile-imageContainer
  display inline-block

.WorkProfile-personalDataTitle
  text-transform uppercase
  text-align center
.WorkProfile-personalData
  text-align justify
.WorkProfile-image
  width 40%
.WorkProfile-SpecializationsTitle
  text-transform uppercase



button[disabled]
  background red

button:not(disabled)
  background green
