.tabsdemoDynamicHeight md-content
  background #fff

.tabsdemoDynamicHeight md-content md-tabs
    background #fff
    border 1px solid #e1e1e1

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper
    background #fff

.tabsdemoDynamicHeight md-content h1:first-child
    margin-top 0

md-tab-item span
    color red

md-content.md-default-theme, md-content
    background-color #fff!important

@media screen and (max-width: 383px) {
 .md-tab {
    font-size: 12px;
  }
}



button[disabled]
  background red

button:not(disabled)
  background green
