.tabsdemoDynamicHeight md-content
  background #fff

.tabsdemoDynamicHeight md-content md-tabs
    background #fff
    border 1px solid #e1e1e1

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper
    background #fff

.tabsdemoDynamicHeight md-content h1:first-child
    margin-top 0

md-tab-item span
    color red

md-content.md-default-theme, md-content
    background-color #fff!important

@media screen and (max-width: 383px) {
 .md-tab {
    font-size: 12px;
  }
}

md-tabs-canvas.md-center-tabs
  background: #227fde;


span
  color: white !important

.WorkProfile-imageContainer
  display inline-block
  width 40%
  margin 0
  text-align center
  vertical-align top

.WorkProfile-imageTitle
  padding 1.5em 0 1em

.WorkProfile-image
  width 200px
  padding 5% 0




.WorkProfile-documentTypeContainer, .WorkProfile-identificationContainer
    display inline-block
    text-align left
    max-width 250px


.WorkProfile

  &-nameLabel, &-lastNameLabel, &-lastNameLabel, &-genderLabel, &-emailLabel, &-phoneNumberLabel, &-cityLabel, &-socialNetworksLabel, &-socialNetwork1-label, &-socialNetwork2-label, &-newPasswordLabel, &-confirmPasswordLabel
    display block

  &-personalDataIcon
    padding: 13px 14px
    border: 1px solid #545454
    color white
    background #227fde
    position relative
    right 5px

  &-socialNetworks
    display inline-block
    border 1px solid #545454
    background #227fde
    position relative
    right 5px

.Twitter, .Facebook, .Instagram
  color white
  background #227fde
  padding: 13px 14px


.WorkProfile
  &-documentTypeLabel, &-identificationLabel, &-nameInput, &-lastNameInput, &-newPasswordInput, &-confirmPasswordInput,  &-emailInput, &-phoneNumberInput, &-cityOptions, &-emailInput, &-socialNetworkInput, &-socialNetwork1-input,  &-socialNetwork2-input
    padding 10px 5px
    border 1px solid #545454
  &-genderSelect
    padding 9px 5px
    border 1px solid #545454
  &-citySelect
    padding 9px 45px
    border 1px solid #545454

/*--ESPECIALIZATIONS--SECTION*/

.WorkProfile-SpecializationsList
  background #227fde
  padding 15px 10px
  border-radius 5px
  color white
  font-weight bold
  text-transform capitalize
  width 130px

.WorkProfile-Specializations
  display inline-block
  width 40%
  text-align: center


.WorkProfile-SpecializationsContainer
  margin 40px 0 3em


.WorkProfile-SpecializationsCheckbox
  margin-right 7px




/*--CERFICATIONS - SECTION--*/

.WorkProfile-CertificationsDoubleContainer
  margin 1em 0


.WorkProfile-CertificationsContainer
  text-align center
  border 1px solid #227fde
  width 50%
  margin 4em auto
  border-radius 5px
  box-shadow 0px -2px 0px #2d66a0


.WorkProfile-certificationsInput
  max-width 300px
  padding 10px 5px
  margin 15px 10px
  outline none
  border 1px solid #545454
  box-sizing border-box


.WorkProfile-CertificationsTitle
  padding: 1.2em 0 0.2em 0


.WorkProfile-certificationsFile
  display: none !important


.WorkProfile-certificationsLabel
  cursor pointer
  margin 0 10px
  transition all .1s
  font-size 1em
  font-weight bold
  padding 13px
  border-radius 5px
  background-color #227fde
  box-shadow 0 5px 0px #2d66a0
  color white
  cursor pointer
  position relative
  top 0


.WorkProfile-certificationsLabel:hover
  top 3px
  box-shadow 0 3px 0px #2d66a0


/*WORKS --DONE---SECTION*/
.WorkProfile-WorkDoneImageContainer
  margin 0


.WorkProfile-WorkDoneImage
  width 75%
  margin 2.5em auto 4em
  display block
  text-align center
  box-shadow 0px 0 5px 0px grey


.WorkProfile-WorkDoneContainer
  border 1px solid #227fde;
  width 50%
  margin 4em auto
  border-radius 5px
  box-shadow 0px -2px 0px #2d66a0


.WorkProfile-WorkDoneTitle
  text-align center
  margin-top 1em


.WorkProfile-WorkDoneDescriptionContainer
  text-align center


.WorkProfile-WorkDoneDescription
  margin 0 2em
  border-radius 5px
  resize none
  display block
  margin auto
  width 80%
  max-width 300px
  height 100px
  padding 10px


.WorkProfile-WorkDoneInput
  padding 16px 10px
  border-radius 5px 0 0 5px
  border 1px solid darkgray
  width: 50%


.WorkProfile-WorkDoneIncon
  border 1px solid darkgray
  padding 16px
  vertical-align bottom
  border-left none;
  background #227fde
  color white
  font-size 20px
  border-radius 0px 5px 5px 0px


.WorkProfile-WorkDoneDoubleContainer
  margin 2em 0


.WorkProfile-AddButton
  margin 2% 0
  transition all .1s
  font-size 1em
  font-weight bold
  padding 13px
  border-radius 5px
  background-color #227fde
  box-shadow 0 5px 0px #2d66a0
  display inline-block
  color white
  cursor pointer
  top 0
  position relative


.WorkProfile-AddButton:hover
  top: 3px
  box-shadow: 0 3px 0px #2d66a0


.WorkProfile-WorkDoneSlider
  padding 20px
  width 90%;
  margin auto
  box-sizing: border-box


.WorkProfile-WorkDoneSliderMiniatures
  display table
  margin 0 auto


.WorkProfile-ImageMiniature
  width: 60px
  height: 60px
  border-radius 10px
  cursor pointer
  padding 5px
  margin: 10px 5px


.WorkProfile-AddImage
  margin 2% 0
  transition all .1s
  font-size 1em
  font-weight bold
  padding: 13px 0
  border-radius 5px
  background-color #227fde
  box-shadow 0 5px 0px #2d66a0
  display block
  color white
  text-align center


#WorkProfile-AddImageInput
  display: none


.WorkProfile-AddImageLabel
  display block
  cursor pointer

.Editform-button
  cursor pointer
  margin 0 10px
  transition all 0.1s
  font-size 1em
  font-weight bold
  padding 13px
  border-radius 5px
  background-color #227fde
  box-shadow 0 5px 0px darkred
  color #fff
  cursor pointer
  position relative
  top: 0
  
.Editform-button:hover
  top: 3px
  box-shadow: 0 3px 0px darkred



button.Editform-button[disabled]
  background red

button.Editform-button:not(disabled)
  background green
