<!--ADMINISTRATOR PROFILE WORKER -->
<section class="WorkProfile-sectionContainer">
<!-- Modal para modificar la img a subir -->
  <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Subir foto de perfil</h4>
        </div>
        <div class="modal-body">


          <div class="cropArea img-responsive">
            <img-crop image="vm.image" result-image="vm.croppedImage" area-type="circle" aspect-ratio="1.33" init-max-area="true" result-image-size='{w: 400,h: 400}' chargement="'Cargando'">
            </img-crop>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.cancelar()">Cancelar</button>
          <label class="btn btn-default" for="foto-input">Subir Foto</label>
          <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="vm.editUser()">Guardar</button>
          <input type="file" id="foto-input" style="visibility:hidden;" accept="image/*" on-read-img="vm.imageLoad($fileContent)">

        </div>
      </div>
    </div>
  </div>

  <div class="WorkProfile-section">
    <md-content>
      <md-tabs md-center-tabs="true" md-dynamic-height md-border-bottom>
        <md-tab label="editar perfil">
          <md-content class="md-padding">

            <div class="WorkProfile-personalDataContainer">



              <div class="WorkProfile">
                <!--ADMINISTRATOR PROFILE WORKER -IMAGE- -->
                <figure class="WorkProfile-imageContainer">
                  <h2 class="WorkProfile-imageTitle">Foto de Perfil</h2>
                  <img ng-if="vm.user.imageType != null" data-ng-src="{{vm.user.imageType}},{{vm.user.imageProfile}}" alt=""class="WorkProfile-image">
                  <img ng-if="vm.user.imageType== null" src="assets/Main-images/engineer.png" alt=""class="WorkProfile-image">
                  <!-- boton para abrir el modal -->
                  <button type="button" class="btn btn-primary btn-lg WorkProfile-imageUpload"  data-toggle="modal" data-target="#myModal">Editar imagen</button>
                </figure>


                <!--ADMINISTRATOR PROFILE WORKER - DESCRIPTION -->
                <div class="WorkProfile-Description">
                  <textarea name="name" rows="5" cols="30" ng-model="vm.user.description" class="WorkProfile-DescriptionText" placeholder="Perfil del Trabajador"></textarea>
                </div>
              </div>

              <!--ADMINISTRATOR PROFILE WORKER -PERSONAL DATA- -->
              <form name="editForm" class="WorkProfile-personalData-form" ng-submit="editForm.$valid && vm.editUser()">

                <div class="WorkProfile-personalData">
                  <div class="WorkProfile-formContainer">
                    <h2 class="WorkProfile-personalDataTitle">Datos Personales</h2>

                    <div class="WorkProfile-multyContainer1">
                      <div class="WorkProfile-containerCenter">

                      <!--DOCUMENT TYPE -->
                      <div class="WorkProfile-documentTypeContainer">
                        <label  class="WorkProfile-documentTypeLabel"for="DocumentType">Tipo documento</label>
                        <input type="text" name="DocumentType" ng-disabled="true" ng-model="vm.user.idDocumentType.id" value="" class="WorkProfile-documentTypeInput" placeholder="">
                        <i class="fa fa-lock WorkProfile-personalDataIcon " aria-hidden="true"></i>
                      </div>

                      <!--IDENTIFICATION -->
                      <div class="WorkProfile-identificationContainer">
                        <label class="WorkProfile-identificationLabel"for="identificationNumber">Numero de identificacion</label>
                        <input type="text" name="identificationNumber" ng-model="vm.user.identificationNumber" ng-disabled="true" value="" class="WorkProfile-identificationInput">
                        <i class="fa fa-lock WorkProfile-personalDataIcon " aria-hidden="true"></i>
                      </div>

                      <!--NAME -->
                      <div class="WorkProfile-namesContainer">

                        <label class="WorkProfile-nameLabel"for="name">Nombres</label>
                        <input type="text" name="name" ng-model="vm.user.name" ng-disabled="!vm.editar.name" ng-pattern="/^[A-Za-z\s]+$/" required ng-minlength="3" ng-maxlength="30" value="" class="WorkProfile-nameInput" placeholder="Nombre">
                        <button ng-if="!vm.editar.name" ng-click="vm.boton(vm.editar.name=true)"   class="fa fa-pencil WorkProfile-personalDataIcon WorkProfile-nameIcon" aria-hidden="true"></button>
                        <button ng-if="vm.editar.name" type="submit" ng-disabled="editForm.name.$invalid" class="fa fa-floppy-o WorkProfile-personalDataIcon WorkProfile-nameIcon" aria-hidden="true"></button>
                        <div class="WorkProfile-name-validationContainer" ng-messages="editForm.name.$error" ng-show="editForm.name.$dirty">
                          <div class="WorkProfile-name-validation1" ng-message="pattern">ingrese solo letras en este campo</div>
                          <div class="WorkProfile-name-validation2" ng-message="required">este campo es requerido</div>
                          <div class="200pxWorkProfile-name-validation3" ng-message-exp="['maxlength', 'minlength']">solo se permiten nombres mayores<br> a 3 digitos y menores a 30</div>
                        </div>
                      </div>

                      <!--LAST NAME -->
                      <div class="WorkProfile-lastNamesContainer">
                        <label class="WorkProfile-lastNameLabel"for="lastName">Apellidos</label>
                        <input type="text" name="lastName" ng-disabled="!vm.editar.lastName" ng-model="vm.user.lastName" ng-pattern="/^[A-Za-z\s]+$/" required ng-minlength="3" ng-maxlength="30" value="" class="WorkProfile-lastNameInput" placeholder="Apellido">
                        <button ng-if="!vm.editar.lastName" ng-click="vm.boton(vm.editar.lastName=true)"   class="fa fa-pencil WorkProfile-personalDataIcon WorkProfile-lastNameIcon" aria-hidden="true"></button>
                        <button ng-if="vm.editar.lastName" type="submit" ng-disabled="editForm.lastName.$invalid" class="fa fa-floppy-o WorkProfile-personalDataIcon WorkProfile-lastNameIcon" aria-hidden="true"></button>
                        <div class="WorkProfile-lastName-validationContainer " ng-messages="editForm.lastName.$error" ng-show="editForm.lastName.$dirty">
                          <div class="WorkProfile-lastName-validation1" ng-message="pattern">ingrese solo letras en este campo</div>
                          <div class="WorkProfile-lastName-validation2" ng-message="required">este campo es requerido</div>
                          <div class="WorkProfile-lastName-validation3" ng-message-exp="['maxlength', 'minlength']">solo se permiten nombres mayores<br> a 3 digitos y menores a 30</div>
                        </div>
                      </div>


                      <!-- SOCIAL NETWORKS-->
                      <div class="WorkProfile-socialNetworksContainers">
                        <label class="WorkProfile-socialNetworksLabel"for="contactSocialNetworks">Contactar por redes sociales</label>
                        <input type="checkbox" name="contactSocialNetworks" ng-model="vm.user.contactSocialNetworks" value="" class="WorkProfile-socialNetworkInput" placeholder="Otro...">
                      </div>
                      <!--CONTACT BY EMAIL-SOCIAL NETWORK1 -->
                      <div class="WorkProfile-socialNetwork1Container">
                        <label class="WorkProfile-socialNetwork1-label"for="socialNetwork1">Red social 1</label>
                        <input type="text" name="socialNetwork1" ng-model="vm.user.socialNetworks1" value="" class="WorkProfile-socialNetwork1-input" placeholder="Otro...">
                        <div class="WorkProfile-socialNetworks">
                          <i class="fa fa-twitter WorkProfile-Twitter" aria-hidden="true"></i>
                          <i class="fa fa-instagram WorkProfile-Instagram" aria-hidden="true"></i>
                          <i class="fa fa-facebook-official WorkProfile-Facebook" aria-hidden="true"></i>
                        </div>
                      </div>

                    </div>

                    </div>

                    <div class="WorkProfile-multyContainer2">
                      <div class="WorkProfile-containerCenter2">

                        <!--GENDER -->
                        <div class="WorkProfile-genderContainer">
                          <label class="WorkProfile-genderLabel"for="gender">Sexo</label>
                          <select class="WorkProfile-genderSelect"name="gender" ng-disabled="!vm.editar.gender" ng-model="vm.user.gender" ng-options="x for x in vm.gender"></select>
                          <button ng-if="!vm.editar.gender" ng-click="vm.boton(vm.editar.gender=true)"   class="fa fa-pencil WorkProfile-personalDataIcon" aria-hidden="true"></button>
                          <button ng-if="vm.editar.gender" type="submit" class="fa fa-floppy-o WorkProfile-personalDataIcon" aria-hidden="true"></button>

                        </div>

                        <!--TELEPHONE NUMBER -->
                        <div class="WorkProfile-numberTelephoneContainer">
                          <label class="WorkProfile-phoneNumberLabel"for="phoneNumber">Numero telefonico</label>
                          <input type="text" name="phoneNumber" ng-disabled="!vm.editar.phoneNumber" ng-model="vm.user.phoneNumber" ng-pattern="/^[0-9]*$/" ng-minlength="7" ng-maxlength="10" required value="" class="WorkProfile-phoneNumberInput" placeholder="Teléfono">
                          <button ng-if="!vm.editar.phoneNumber" ng-click="vm.boton(vm.editar.phoneNumber=true)"   class="fa fa-pencil WorkProfile-personalDataIcon" aria-hidden="true"></button>
                          <button ng-if="vm.editar.phoneNumber" type="submit" ng-disabled="editForm.phoneNumber.$invalid" class="fa fa-floppy-o WorkProfile-personalDataIcon" aria-hidden="true"></button>
                          <div class="WorkProfile-phoneNumber-validationContainer" ng-messages="editForm.phoneNumber.$error" ng-show="editForm.phoneNumber.$dirty">
                            <div class="WorkProfile-phoneNumber-validation1"ng-message="pattern">ingrese solo numeros en este campo</div>
                            <div class="WorkProfile-phoneNumber-validation2"ng-message="required">este campo es requerido</div>
                            <div class="WorkProfile-phoneNumber-validation3"ng-message-exp="['maxlength','minlength']">solo se permiten valores mayores<br> a 6 digitos y menores a 11</div>
                          </div>
                        </div>

                      <!--EMAIL -->
                      <div class="WorkProfile-emailContainer">
                        <label class="WorkProfile-emailLabel"for="email">Email</label>
                        <input type="text" name="email" ng-model="vm.user.email" value="" ng-disabled="true" class="WorkProfile-emailInput" placeholder="Otro...">
                          <i class="fa fa-lock WorkProfile-personalDataIcon " aria-hidden="true"></i>
                      </div>
                      <!--DEPARTMENT -->
                     <!-- <div class="WorkProfile-departmentContainer">
                       <label class="WorkProfile-departmentLabel"for="department">Departamento</label>
                       <select class="WorkProfile-departmentSelect" ng-model="vm.idDepartment" ng-change="vm.getCiudad()" name="department">
                         <option class="WorkProfile-departmentOptions" ng-value="item.id" ng-repeat="item in vm.departments" ng-bind="item.name"></option>
                       </select>
                       <i class="fa fa-map-marker WorkProfile-personalDataIcon WorkProfile-departmentIcon" aria-hidden="true"></i>
                     </div> -->
                      <!--CITY -->
                      <div class="WorkProfile-cityContainer">
                        <label class="WorkProfile-cityLabel"for="city">Ciudad</label>
                        <select class="WorkProfile-citySelect" ng-disabled="!vm.editar.city" ng-model="vm.user.idCity.id" name="city">
                          <option class="WorkProfile-cityOptions" ng-value="item.id" ng-repeat="item in vm.cities" ng-bind="item.name"></option>
                        </select>
                        <button ng-if="!vm.editar.city" ng-click="vm.boton(vm.editar.city=true)"   class="fa fa-pencil WorkProfile-personalDataIcon" aria-hidden="true"></button>
                        <button ng-if="vm.editar.city" type="submit" class="fa fa-floppy-o WorkProfile-personalDataIcon" aria-hidden="true"></button>
                      </div>
                      <!--CONTACT BY EMAIL -->
                      <div class="WorkProfile-emailContainer">
                        <label class="WorkProfile-emailLabel"for="contactEmail">Contactar por correo </label>
                        <input type="checkbox" name="contactEmail" ng-model="vm.user.contactEmail" class="WorkProfile-emailInput" placeholder="Otro...">
                      </div>
                      <!--CONTACT BY EMAIL-SOCILA NETWORK2 -->
                      <div class="WorkProfile-socialNetwork2Container">
                        <label class="WorkProfile-socialNetwork2-label"for="socialNetwork2">Red social 2</label>
                        <input type="text" name="socialNetwork2" ng-model="vm.user.socialNetworks2" value="" class="WorkProfile-socialNetwork2-input" placeholder="Otro...">
                        <div class="WorkProfile-socialNetworks">
                          <i class="fa fa-twitter WorkProfile-Twitter WorkProfile-Twitter2" aria-hidden="true"></i>
                          <i class="fa fa-instagram WorkProfile-Instagram WorkProfile-Instagram2" aria-hidden="true"></i>
                          <i class="fa fa-facebook-official WorkProfile-Facebook WorkProfile-Facebook2" aria-hidden="true"></i>
                        </div>
                      </div>

                      </div>
                    </div>
                    <div class="WorkProfile-containerChangePassword">
                      <!--CHANGE PASSWORD -->
                      <div class="WorkProfile-changePasswordContainer">
                        <label class="WorkProfile-changePasswordLabel"for="changePasswd">Cambiar contraseña</label>
                        <input type="checkbox" name="changePasswd" ng-model="vm.newPassw" class="WorkProfile-changePassword-input" placeholder="Otro...">
                      </div>

                      <!--NEW PASSWORD -->
                      <div ng-if="vm.newPassw" class="WorkProfile-newPasswordContainer">
                        <div class="WorkProfile-newPasswordContainer-son">
                          <label class="WorkProfile-newPasswordLabel"for="newPasswd">Nueva contraseña</label>
                          <input  class="WorkProfile-newPasswordInput"type="password" name="newPasswd" ng-minlength="6" ng-maxlength="16" ng-pattern="/^(?=.*\d)(?=.*[a-zA-z])(?!.*\s).*$/" required ng-model="vm.newPassword" class="" placeholder="Otro...">
                          <i class="fa fa-lock WorkProfile-personalDataIcon" aria-hidden="true"></i>
                          <div class="WorkProfile-newPassword-validationContainer"ng-messages="editForm.newPasswd.$error" ng-show="editForm.newPasswd.$dirty">
                            <div class="WorkProfile-newPassword-validation1"ng-message="pattern">Debe contener al menos una letra <br>, un numero y sin espacios</div>
                            <div class="WorkProfile-newPassword-validation2"ng-message="required">este campo es requerido</div>
                            <div class="WorkProfile-newPassword-validation3"ng-message-exp="['maxlength', 'minlength']">solo se permiten contraseñas mayores<br> a 6 digitos y menores a 16</div>
                          </div>
                        </div>

                        <div class="WorkProfile-confirmPasswordContainer">
                          <!--CONFIRM PASSWORD -->
                          <label class="WorkProfile-confirmPasswordLabel"for="confirmPasswd">Confirmar contraseña</label>
                          <input  class="WorkProfile-confirmPasswordInput"type="password" name="confirmPasswd" ng-model="vm.confirmPasswd" required compare-to="vm.newPassword"  placeholder="Otro...">
                          <i  class="fa fa-lock WorkProfile-personalDataIcon" aria-hidden="true"></i>
                          <div class="WorkProfile-confirmPassword-validationContainer" ng-messages="editForm.confirmPasswd.$error" ng-show="editForm.confirmPasswd.$dirty">
                            <div class="WorkProfile-confirmPassword-validation1"ng-message="compareTo">la contraseña no coincide</div>
                            <div class="WorkProfile-confirmPassword-validation2"ng-message="required">este campo es requerido</div>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>
                </div>
                <!--BUTTON SAVE-->
                <div class="WorkProfile-buttonContainer">
                  <button type="submit" class="Editform-button" ng-disabled="editForm.$invalid" name="button">Editar datos</button>
                </div>

              </form>

            </div>
            <!--Mostrar especializaciones-->


            <!--ADMINISTRATOR PROFILE WORKER - CERTIFICATIONS -->
            <div class="WorkProfile-Certifications">
              <div class="WorkProfile-CertificationsContainer">
                <h2 class="WorkProfile-CertificationsTitle">Certificaciones</h2>
                <div class="WorkProfile-CertificationsFiles" style="display: none;">
                  <div class="WorkProfile-CertificationsDoubleContainer">
                    <input type="text" name="name" value="" class="WorkProfile-certificationsInput" placeholder="Certificación">
                    <label for="WorkProfile-certificationsFile1" class="WorkProfile-certificationsLabel"><input type="file" id="WorkProfile-certificationsFile1" value="" class="WorkProfile-certificationsFile">Añadir archivo</label>
                  </div>
                  <div class="WorkProfile-CertificationsDoubleContainer">
                    <input type="text" name="name" value="" class="WorkProfile-certificationsInput" placeholder="Certificación">
                    <label for="WorkProfile-certificationsFile2" class="WorkProfile-certificationsLabel"><input type="file" id="WorkProfile-certificationsFile2" value="" class="WorkProfile-certificationsFile">Añadir archivo</label>
                  </div>

                  <div class="WorkProfile-CertificationsDoubleContainer">
                    <input type="text" name="name" value="" class="WorkProfile-certificationsInput" placeholder="Certificación">
                    <label for="WorkProfile-certificationsFile3" class="WorkProfile-certificationsLabel"><input type="file" id="WorkProfile-certificationsFile3" value="" class="WorkProfile-certificationsFile">Añadir archivo</label>
                  </div>

                  <div class="WorkProfile-CertificationsDoubleContainer">
                    <input type="text" name="name" value="" class="WorkProfile-certificationsInput" placeholder="Certificación">
                    <label for="WorkProfile-certificationsFile4" class="WorkProfile-certificationsLabel"><input type="file" id="WorkProfile-certificationsFile4" value="" class="WorkProfile-certificationsFile">Añadir archivo</label>
                  </div>
                  <div class="WorkProfile-CertificationsDoubleContainer">
                    <input type="text" name="name" value="" class="WorkProfile-certificationsInput" placeholder="Certificación">
                    <label for="WorkProfile-certificationsFile5" class="WorkProfile-certificationsLabel"><input type="file" id="WorkProfile-certificationsFile5" value="" class="WorkProfile-certificationsFile">Añadir archivo</label>
                  </div>
                </div>
              </div>
            </div>

          </md-content>
        </md-tab>
        <md-tab label="trabajos hechos">
          <md-content class="md-padding">

            <!--ADMINISTRATOR PROFILE WORKER - WORK DONE -->
            <div class="WorkProfile-WorkDone">
              <div class="WorkProfile-WorkDoneContainer">
                <h2 class="WorkProfile-WorkDoneTitle">Trabajo Terminado</h2>
                <figure class="WorkProfile-WorkDoneImageContainer">
                  <img src="assets/Works-profile/1.jpg" alt="X" class="WorkProfile-WorkDoneImage" id="WorkProfile-ImageFirst">
                </figure>
                <div class="WorkProfile-WorkDoneDescriptionContainer">
                  <div class="WorkProfile-WorkDoneDoubleContainer">
                    <i class="fa fa-usd WorkProfile-WorkDoneIncon" aria-hidden="true"></i>
                    <input class="WorkProfile-WorkDoneInput" type="number" name="" value="" placeholder="$ Precio">
                  </div>
                  <div class="WorkProfile-WorkDoneDescriptionDoubleContainer">
                    <textarea name="name" class="WorkProfile-WorkDoneDescription" placeholder="Descripción"></textarea>
                    <div class="WorkProfile-AddButton">Agregar</div>
                  </div>
                </div>
                <div class="WorkProfile-WorkDoneSlider">
                  <div class="WorkProfile-WorkDoneSliderMiniatures">
                    <div class="WorkProfile-AddImage">
                    <img src="assets/Works-profile/1.jpg" class="WorkProfile-ImageMiniature" onclick="document.getElementById('WorkProfile-ImageFirst').src='assets/Works-profile/1.jpg';">
                    <img src="assets/Works-profile/2.jpg" class="WorkProfile-ImageMiniature" onclick="document.getElementById('WorkProfile-ImageFirst').src='assets/Works-profile/2.jpg';">
                    <img src="assets/Works-profile/3.jpg" class="WorkProfile-ImageMiniature" onclick="document.getElementById('WorkProfile-ImageFirst').src='assets/Works-profile/3.jpg';">
                    <img src="assets/Works-profile/4.jpg" class="WorkProfile-ImageMiniature" onclick="document.getElementById('WorkProfile-ImageFirst').src='assets/Works-profile/4.jpg';">
                    <img src="assets/Works-profile/5.jpg" class="WorkProfile-ImageMiniature" onclick="document.getElementById('WorkProfile-ImageFirst').src='assets/Works-profile/5.jpg';">
                    <img src="assets/Works-profile/6.jpg" class="WorkProfile-ImageMiniature" onclick="document.getElementById('WorkProfile-ImageFirst').src='assets/Works-profile/6.jpg';">
                    <input type="file" id="WorkProfile-AddImageInput"><label for="WorkProfile-AddImageInput" class="WorkProfile-AddImageLabel">Añadir</label></div>
                  </div>
                </div>
              </div>
            </div>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-content>
  </div>
</section>
