.md-padding
  padding 0 !important
.tabsdemoDynamicHeight md-content
  background #fff

.tabsdemoDynamicHeight md-content md-tabs
    background #fff
    border 1px solid #e1e1e1

.tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper
    background #fff

.tabsdemoDynamicHeight md-content h1:first-child
    margin-top 0

md-tab-item span
    color red

md-content.md-default-theme, md-content
    background-color #fff!important

@media screen and (max-width: 383px) {
 .md-tab {
    font-size: 12px;
  }
}

md-tabs-canvas.md-center-tabs
  background: #227fde;




.ironmongery-ProfileContainer::after
  content ""
  width 85%
  background #1e64aa
  height 1px
  display block
  margin 2em auto 0
.ironmongery-Profile-sectionContainer
  background white

.ironmongery-Profile
  text-align center
  width 40%
  display inline-block
  vertical-align top
.ironmongery-Profile-imageContainer
  display inline-block
  margin 0
  text-align center
  vertical-align top

.ironmongery-Profile-imageTitle
  padding 1.5em 0 1em
  color #1e64aa
  border-bottom 1px solid #1e64aa
.ironmongery-Profile-image
  width 350px
  padding 5% 0
.ironmongery-Profile-DescriptionText
  resize none
  text-align center
.ironmongery-Profile-personalDataTitle
  text-align center
  padding 1.5em 0 1em
  color #1e64aa
  border-bottom 1px solid #1e64aa

.ironmongery-Profile-personalData-form
  display inline-block
  width 59%

.ironmongery-Profile-containerCenter
  width 325px
  display block
  margin auto

.ironmongery-Profile-containerCenter2
  width 325px
  display block
  margin auto
.ironmongery-Profile-multyContainer1
  width 50%
  display inline-block
.ironmongery-Profile-multyContainer2
  width 49%
  display inline-block
  vertical-align top
.ironmongery-Profile-documentTypeContainer, .ironmongery-Profile-identificationContainer
  display inline-block
  text-align left



.ironmongery-Profile

  &-nameLabel,&-identificationLabel, &-documentTypeLabel, &-lastNameLabel, &-lastNameLabel, &-genderLabel, &-emailLabel, &-phoneNumberLabel, &-cityLabel,&-departmentLabel, &-socialNetworksLabel, &-socialNetwork1-label, &-socialNetwork2-label, &-newPasswordLabel, &-confirmPasswordLabel
    display block
  &-nameIcon
    padding 13px 16px 13px 18px !important
  &-departmentIcon
    padding 13px 14px 12px 13px !important
  &-genderIcon
    padding 13px 14px 12px 14px !important
  &-phoneIcon
    padding 13px 16px 13px 17px !important
  &-identificationIcon
    padding 13px 16px 13px 16px !important
  &-lastNameIcon
    padding: 13px 16px 13px 16px !important
  &-emailIcon
    padding: 13px 14px 13px 14px !important
  &-cityIcon
    padding 13px 17px 12px 17px !important

  &-personalDataIcon
    padding: 13px 14px
    border: 1px solid #545454
    color white
    background #227fde
    position relative
    right 5px

  &-socialNetworks
    display inline-block
    border 1px solid #545454
    background #227fde
    position relative
    right 5px

  &-Twitter, &-Facebook, &-Instagram
    color white
    background #227fde
    padding: 13px 14px


.ironmongery-Profile
  &-identificationInput, &-documentTypeInput, &-nameInput, &-lastNameInput, &-newPasswordInput, &-confirmPasswordInput,  &-emailInput, &-phoneNumberInput, &-cityOptions,&-departmentOptions, &-emailInput, &-socialNetworkInput, &-socialNetwork1-input,  &-socialNetwork2-input
    padding 10px 5px
    border 1px solid #545454
    width 170px
  &-genderSelect
    padding 9px 5px
    border 1px solid #545454
    width 170px
  &-citySelect
    padding 9px 45px
    border 1px solid #545454
    width 170px
  &-departmentSelect
    padding 9px 45px
    border 1px solid #545454
    width 170px

.ironmongery-Profile-buttonContainer
  text-align center

/*--ESPECIALIZATIONS--SECTION*/

.ironmongery-Profile-EspecializationsList
  background #227fde
  padding 15px 10px
  border-radius 5px
  color white
  font-weight bold
  text-transform capitalize
  width 130px

.ironmongery-Profile-Especializations
  display inline-block
  width 40%
  text-align: center

.ironmongery-Profile-EspecializationsContainer
  margin 40px 0 3em

.ironmongery-Profile-EspecializationsCheckbox
  margin-right 7px


/*--CERFICATIONS - SECTION--*/

.ironmongery-Profile-CertificationsDoubleContainer
  margin 1em 0

.ironmongery-Profile-CertificationsContainer
  text-align center
  border 1px solid #227fde
  width 50%
  margin 4em auto
  border-radius 5px
  box-shadow 0px -2px 0px #2d66a0

.ironmongery-Profile-certificationsInput
  max-width 300px
  padding 10px 5px
  margin 15px 10px
  outline none
  border 1px solid #545454
  box-sizing border-box

.ironmongery-Profile-CertificationsTitle
  padding: 1.2em 0 0.2em 0

.ironmongery-Profile-certificationsFile
  display: none !important

.ironmongery-Profile-certificationsLabel
  cursor pointer
  margin 0 10px
  transition all .1s
  font-size 1em
  font-weight bold
  padding 13px
  border-radius 5px
  background-color #227fde
  box-shadow 0 5px 0px #2d66a0
  color white
  cursor pointer
  position relative
  top 0

.ironmongery-Profile-certificationsLabel:hover
  top 3px
  box-shadow 0 3px 0px #2d66a0

/*WORKS --DONE---SECTION*/
.ironmongery-Profile-WorkDoneImageContainer
  margin 0
  display inline-block
  width 33.33333%
  height 25em
  border-right 1px solid gray

.ironmongery-Profile-flexContainer
  display flex
  justify-content space-between
  height 28em


.ironmongery-Profile-WorkDoneImage
  width 75%
  margin 2.5em auto 4em
  display block
  text-align center
  box-shadow 0px 0 5px 0px grey

.ironmongery-Profile-WorkDoneContainer
  border 1px solid #227fde;
  width 85%
  margin 4em auto
  border-radius 5px
  box-shadow 0px -2px 0px #2d66a0

.ironmongery-Profile-WorkDoneTitle
  text-align center
  margin-top 1em
  color #1e64aa
  font-weight bold
  cursor pointer
.ironmongery-Profile-WorkDoneTitle::after
  content: " "
  width 59px
  height 2px
  display block
  background-color #0078d2
  margin 14px auto 0

.ironmongery-Profile-WorkDoneDescriptionContainer
  text-align center
  width 33.33333%


.ironmongery-Profile-WorkDoneDescription
  margin 0 2em
  border-radius 1px
  resize none
  display block
  margin auto
  width 80%
  max-width 300px
  height 100px
  padding 10px


.ironmongery-Profile-WorkDoneInput
  padding 16px 10px
  border-radius 1px 0 0 1px
  border 1px solid darkgray
  width 50%
  max-width 200px

.ironmongery-Profile-WorkDoneIncon
  border 1px solid darkgray
  padding 16px
  vertical-align bottom
  border-left none;
  background #227fde
  color white
  font-size 20px
  border-radius 0px 1px 1px 0px


.ironmongery-Profile-WorkDoneDoubleContainer
  margin 2em 0
.ironmongery-Profile-newPasswordContainer
  width 220px
  margin auto
  text-align center
.ironmongery-Profile-containerChangePassword
  text-align center
  padding 25px 0px
.ironmongery-Profile-newPasswordContainer-son
  padding 20px 0px
.ironmongery-Profile-AddButton
  margin 2% 0
  transition all .1s
  font-size 1em
  font-weight bold
  padding 13px
  border-radius 3px
  background-color #227fde
  box-shadow 0 5px 0px #2d66a0
  display inline-block
  color white
  cursor pointer
  top 0
  position relative


.ironmongery-Profile-AddButton:active
  top: 3px
  box-shadow: 0 3px 0px #2d66a0

.ironmongery-Profile-WorkDoneSlider
  padding 20px
  box-sizing: border-box
  display inline-block
  border-left 1px solid gray
  height 25em
  width 33.33333%


.ironmongery-Profile-WorkDoneSliderMiniatures
  display table
  margin 0 auto

.ironmongery-Profile-ImageMiniature
  width: 60px
  height: 60px
  border-radius 10px
  cursor pointer
  padding 5px
  margin: 10px 5px

.ironmongery-Profile-AddImage
  margin 2% 0
  transition all 0.1s
  font-size 1em
  font-weight bold
  padding 13px 0
  border-radius 2px
  background-color #227fde
  box-shadow 0 5px 0px #2d66a0
  display block
  color #fff
  text-align center
  margin-top 3em

#ironmongery-Profile-AddImageInput
  display: none

@media screen and (max-width: 1100px)
  .ironmongery-Profile-flexContainer
    flex-direction column

.ironmongery-Profile-AddImageLabel
  display block
  cursor pointer

.Editform-button
  cursor pointer
  margin 0 10px
  transition all 0.1s
  font-size 1em
  font-weight bold
  padding 13px
  border-radius 5px
  background-color #227fde
  box-shadow 0 5px 0px darkred
  color #fff
  cursor pointer
  position relative
  top 0
  border-style none

.Editform-button:active
  top: 3px
  box-shadow: 0 3px 0px darkred


button.Editform-button[disabled]
  background red

button.Editform-button:not(disabled)
  background green

@media screen and (max-width: 1085px)
    .ironmongery-Profile
        display block
        margin auto
        width 100%

    .ironmongery-Profile-personalData
      display block

    .ironmongery-Profile-personalData-form
        display block
        margin auto
        width 100%

    .ironmongery-Profile-multyContainer1, .ironmongery-Profile-multyContainer2
        width 49%
        display inline-block

    .ironmongery-Profile-formContainer
      text-align center

    .ironmongery-Profile

      &-imageContainer
        display block
        margin auto
        width 100%
      &-documentTypeContainer, &-identificationContainer, &-namesContainer, &-numberTelephoneContainer, &-emailContainer, &-cityContainer,&-departmentContainer, &-socialNetworksContainers
        margin 1.5em auto
        width 220px
        display block
        text-align center
      &-socialNetwork1Container, &-socialNetwork2Container
        width 222px
        margin auto
      &-socialNetworksContainers
        text-align center
      &-Facebook
        padding 13px 16px 13px 18px !important
      &-Instagram, &-Twitter
        display none
      &-Instagram2
        display block !important
        padding 13px 16px 13px 18px !important
      &-Twitter2, &-Facebook2
        display none
@media screen and (max-width: 800px)
    .ironmongery-Profile

      &-containerCenter
        text-align center
      &-containerCenter, &-containerCenter2
        width auto
      &-socialNetwork1Container, &-socialNetwork2Container
        width 100%
        text-align center
      &-buttonContainer
        margin 2em auto 3em
      &-image
        width 220px
      &-WorkDoneImageContainer, &-WorkDoneDescriptionContainer, &-WorkDoneSlider
        width inherit
        height inherit
      &-flexContainer
        height inherit

    .ironmongery-Profile-multyContainer1, .ironmongery-Profile-multyContainer2
        width 100%
        display block
        margin auto

    .ironmongery-Profile-WorkDoneContainer
      width 100%
      margin 0 auto 3em
