<section class="IronmongeryProfile-container">
  <div class="IronmongeryProfile">
    <!--ADMINISTRATOR PROFILE WORKER -IMAGE- -->
    <figure class="WorkProfile-imageContainer">
      <img src="assets/Main-images/engineer.png" alt=""class="WorkProfile-image">
  
  <!--ADMINISTRATOR PROFILE WORKER -PERSONAL DATA- -->
  <form name="editForm" class="IronmongeryProfile-personalData-form" ng-submit="editForm.$valid && vm.editUser()">

    <div class="IronmongeryProfile-personalData">

      <div class="IronmongeryProfile-personalDataContainer">

        <!--DOCUMENT TYPE -->
        <div class="IronmongeryProfile-documentTypeContainer">
          <label class="" for="DocumentType">Tipo documento</label>
          <input type="text" name="DocumentType" ng-disabled="true" ng-model="vm.user.idDocumentType.id" value="" class="IronmongeryProfile-documentTypeLabel" placeholder="Otro...">
        </div>

        <!--IDENTIFICATION -->
        <div class="WorkProfile-identificationContainer">
          <label class="" for="identificationNumber">Numero de identificacion</label>
          <input type="text" name="identificationNumber" ng-model="vm.user.identificationNumber" ng-disabled="true" value="" class="IronmongeryProfile-identificationLabel">
        </div>

        <!--NAME -->
        <div class="IronmongeryProfile-namesContainer">
          <label class="" for="name">Nombres</label>
          <input type="text" name="name" ng-model="vm.user.name" ng-pattern="/^[A-Za-z\s]+$/" required ng-minlength="3" ng-maxlength="30" value="" class="WorkProfile-nameInput" placeholder="Nombre">
          <div class="IronmongeryProfile-name-validationContainer" ng-messages="editForm.name.$error" ng-show="editForm.name.$dirty">
            <div class="IronmongeryProfile-name-validation1" ng-message="pattern">ingrese solo letras en este campo</div>
            <div class="IronmongeryProfile-name-validation2" ng-message="required">este campo es requerido</div>
            <div class="IronmongeryProfile-name-validation3" ng-message-exp="['maxlength', 'minlength']">solo se permiten nombres mayores<br>
              a 3 digitos y menores a 30</div>
          </div>
        </div>

        <!--EMAIL -->
        <div class="IronmongeryProfile-emailContainer">
          <label class="IronmongeryProfile-emailLabel" for="email">Email</label>
          <input type="text" name="email" ng-model="vm.user.email" value="" ng-disabled="true" class="IronmongeryProfile-emailInput" placeholder="Otro...">
        </div>

        <!--TELEPHONE NUMBER -->
        <div class="IronmongeryProfile-numberTelephoneContainer">
          <label class="IronmongeryProfile-phoneNumberLabel" for="phoneNumber">Numero telefonico</label>
          <input type="text" name="phoneNumber" ng-model="vm.user.phoneNumber" ng-pattern="/^[0-9]*$/" ng-minlength="7" ng-maxlength="10" required value="" class="IronmongeryProfile-phoneNumberInput" placeholder="Teléfono">
          <div class="IronmongeryProfile-phoneNumber-validationContainer" ng-messages="editForm.phoneNumber.$error" ng-show="editForm.phoneNumber.$dirty">
            <div class="IronmongeryProfile-phoneNumber-validation1" ng-message="pattern">ingrese solo numeros en este campo</div>
            <div class="IronmongeryProfile-phoneNumber-validation2" ng-message="required">este campo es requerido</div>
            <div class="IronmongeryProfile-phoneNumber-validation3" ng-message-exp="['maxlength','minlength']">solo se permiten valores mayores<br>
              a 6 digitos y menores a 11</div>
          </div>
        </div>

        <!--CITY -->
        <div class="IronmongeryProfile-cityContainer">
          <label class="IronmongeryProfile-cityLabel" for="city">Ciudad</label>
          <select class="IronmongeryProfile-citySelect" ng-model="vm.user.idCity.id" name="city">
            <option class="IronmongeryProfile-cityOptions" ng-value="item.id" ng-repeat="item in vm.cities" ng-bind="item.name"></option>
          </select>
        </div>

        <!--CONTACT BY EMAIL -->
        <div class="IronmongeryProfile-emailContainer">
          <label class="IronmongeryProfile-emailLabel" for="contactEmail">Contactar por correo
          </label>
          <input type="checkbox" name="contactEmail" ng-model="vm.user.contactEmail" class="IronmongeryProfile-emailInput" placeholder="Otro...">
        </div>

        <!-- SOCIAL NETWORKS-->
        <div class="IronmongeryProfile-socialNetworksContainers">
          <label class="IronmongeryProfile-socialNetworksLabel" for="contactSocialNetworks">Contactar por redes sociales</label>
          <input type="checkbox" name="contactSocialNetworks" ng-model="vm.user.contactSocialNetworks" value="" class="IronmongeryProfile-socialNetworkInput" placeholder="Otro...">
        </div>

        <!--CONTACT BY EMAIL-SOCIAL NETWORK1 -->
        <div class="IronmongeryProfile-socialNetwork1Container">
          <label class="IronmongeryProfile-socialNetwork1-label" for="socialNetwork1">Red social 1</label>
          <input type="text" name="socialNetwork1" ng-model="vm.user.socialNetworks1" value="" class="IronmongeryProfile-socialNetwork1-input" placeholder="Otro...">
        </div>

        <!--CONTACT BY EMAIL-SOCILA NETWORK2 -->
        <div class="IronmongeryProfile-socialNetwork2Container">
          <label class="IronmongeryProfile-socialNetwork2-label" for="socialNetwork2">Red social 2</label>
          <input type="text" name="socialNetwork2" ng-model="vm.user.socialNetworks2" value="" class="IronmongeryProfile-socialNetwork2-input" placeholder="Otro...">
        </div>

        <!--CHANGE PASSWORD -->
        <div class="IronmongeryProfile-changePasswordContainer">
          <label class="IronmongeryProfile-changePasswordLabel" for="changePasswd">Cambiar contraseña</label>
          <input type="checkbox" name="changePasswd" ng-model="vm.newPassw" class="IronmongeryProfile-changePassword-input" placeholder="Otro...">
        </div>

        <!--NEW PASSWORD -->
        <div ng-if="vm.newPassw" class="IronmongeryProfile-newPasswordContainer">
          <label class="IronmongeryProfile-newPasswordLabel" for="newPasswd">Nueva contraseña</label>
          <input class="IronmongeryProfile-newPasswordInput" type="password" name="newPasswd" ng-minlength="6" ng-maxlength="16" ng-pattern="/^(?=.*\d)(?=.*[a-zA-z])(?!.*\s).*$/" required ng-model="vm.newPassword" class="" placeholder="Otro...">
          <div class="IronmongeryProfile-newPassword-validationContainer" ng-messages="editForm.newPasswd.$error" ng-show="editForm.newPasswd.$dirty">
            <div class="IronmongeryProfile-newPassword-validation1" ng-message="pattern">Debe contener al menos una letra
              <br>, un numero y sin espacios</div>
            <div class="IronmongeryProfile-newPassword-validation2" ng-message="required">este campo es requerido</div>
            <div class="IronmongeryProfile-newPassword-validation3" ng-message-exp="['maxlength', 'minlength']">solo se permiten contraseñas mayores<br>
              a 6 digitos y menores a 16</div>
          </div>

          <!--CONFIRM PASSWORD -->
          <label class="IronmongeryProfile-confirmPasswordLabel" for="confirmPasswd">Confirmar contraseña</label>
          <input class="IronmongeryProfile-confirmPasswordInput" type="password" name="confirmPasswd" ng-model="vm.confirmPasswd" required compare-to="vm.newPassword">
          <div class="IronmongeryProfile-confirmPassword-validationContainer" ng-messages="editForm.confirmPasswd.$error" ng-show="editForm.confirmPasswd.$dirty">
            <div class="IronmongeryProfile-confirmPassword-validation1" ng-message="compareTo">la contraseña no coincide</div>
            <div class="IronmongeryProfile-confirmPassword-validation2" ng-message="required">este campo es requerido</div>
          </div>
        </div>

        <!--BUTTON SAVE-->
        <button type="submit" class="IronmongeryProfile-Editform-button" ng-disabled="editForm.$invalid" name="button">Editar datos</button>
      </div>
    </div>
  </form>

  <div class="IronmongeryProfile-WorkDoneSlider">
    <img src="" alt="Imagen" class="IronmongeryProfile-WorkDoneSlider-image1">
    <img src="" alt="Imagen" class="IronmongeryProfile-WorkDoneSlider-image2">
    <img src="" alt="Imagen" class="IronmongeryProfile-WorkDoneSlider-image3">
    <img src="" alt="Imagen" class="IronmongeryProfile-WorkDoneSlider-image4">
    <a href="#">
      <i class="IronmongeryProfile-plusImage fa fa-plus" aria-hidden="true">Agregar</i>
    </a>
  </div>

</div>
</section>
