.Environment
    text-align center

.Environment-maintitle
    text-transform uppercase
    color darkgreen
    padding 2em

.Environment-mainImage
    background-image url('../../assets/Environment-section/hoja.jpg')
    background-size cover
    background-position 50% 50%
    height 40em

.Environment-mainImage-title
    color lightgreen
    text-align left
    text-transform uppercase
    padding 2em
    font-size 40px

.Environment-tips
    display inline-block
    text-align center
    margin 0
    padding-bottom 5em

.Environment-tips1, .Environment-tips2, .Environment-tips3, .Environment-tips4
    width 20%
    display inline-block
    margin 3em 1% 0
    border-bottom 5px solid gray
    padding 18px
    background rgba(154, 214, 83, 0.70)
    border-bottom-left-radius 20px
    border-top-right-radius 20px

.Tips-Title
    text-transform uppercase

.Tips-image
    width 250px
    height 200px

.Tips-message
    text-align justify
    font-weight bold

.Complement1
    background-image url('../../assets/Environment-section/escombros-ruinas.jpg')
    background-size cover
    background-position 60% 45%
    height 30em

.Complement1-container
    background-color rgba(53, 48, 48, 0.45)
    padding-bottom 29em

.Complement3
    background-image url('../../assets/Environment-section/sea.jpg')
    background-size cover
    background-position 60% 45%
    height 29em

.Complement3-container
    background-color rgba(108, 134, 226, 0.45)
    padding-bottom 29em

.Complement4
    background-image url('../../assets/Environment-section/Instalación_manual.JPG')
    background-size cover
    background-position 60% 45%
    height 29em

.Complement4-container
    background-color rgba(53, 48, 48, 0.45)
    padding-bottom 29em
