<section class="Services-Section">
  <div class="Services-SectionContainer">

    <div class="Services-titleContainer">
      <img src="assets/contact-us/phone2.png" alt="" class="Contact-imagePhone">
      <h2 class="ServiceTitle">Servicios</h2>
    </div>
    <div class="">
      <p ng-repeat="item in vm.departments">{{item.name}}</p>
    </div>
    <div class="Services-especializationContainer">
      <ul >
        <li ng-repeat="item in vm.especializations | orderBy:'name':false" >
          <md-tooltip class="Tooltip">{{item.description}}</md-tooltip>
          <a href="">{{item.name}}</a>
        </li>
    </div>

  </ul>
    <button type="button"  data-toggle="tooltip" data-placement="top" title="">Tooltip on left</button>
        <md-button class="" aria-label="">
      <md-tooltip>Play Music</md-tooltip>

    </md-button>
  </div>
</section>
