*
  margin 0
  padding 0


.Services-Section
  margin auto

.ServiceTitle
  margin 15px 0px
  text-transform uppercase
  text-align center


.Services-Subtitle
  color black !important
  text-transform uppercase
  font-weight bold

.Services-SublistContainer1
  display flex
  justify-content space-between

.Services-list1, .Services-list2, .Services-list3, .Services-list4
  margin 0 7em

.Services-list1 > ul >li, .Services-list2 > ul >li, .Services-list3 > ul > li, .Services-list4 > ul >li
  list-style none
  
  & > a
    color black
    text-decoration none
    font-size 16px
.Services-listTitle1, .Services-listTitle2, .Services-listTitle3, .Services-listTitle4
  text-transform uppercase
  font-weight 600
