<div class="Footer">

  <div class="container">

  <div class="Footer-contacts">
    <div class="Contacts">
      <p class="TextEmail"><i class="fa fa-envelope-o Email-contact" aria-hidden="true"></i>startupcbi2017@gmail.com</p></a>
      <p class="Footer-number"><i class="fa fa-phone Phone-contact" aria-hidden="true"></i>3218077844</p>
      <p class="Direction"><i class="fa fa-home Home-contact" aria-hidden="true"></i>Carrera 30 # 40-25 Palmira, Valle</p>
    </div>
  </div>

  <div class="FooterMain">
    <div class="Footer-networks">
    <h3 class="Footer-networks-title">Siguenos<i class="fa fa-check" aria-hidden="true"></i></h3>
      <div class="Footer-networks-section">
        <a class="LinkNetworks twitter" href="http://twitter.com" target="_black">
          <i class="fa fa-twitter Footer-twitter" aria-hidden="true"></i></a>
        <a class="LinkNetworks facebook" href="http://facebook.com" target="_black">
          <i class="fa fa-facebook Footer-facebook" aria-hidden="true"></i></a>
        <a class="LinkNetworks instagram" href="https://www.instagram.com" target="_black">
          <i class="fa fa-instagram Footer-instagram" aria-hidden="true"></i></a>
        <a class="LinkNetworks email" href="http://youtube.com" target="_black">
          <i class="fa fa-youtube-play Footer-youtube" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="FooterAmbiental">
    <h2 class="FooterAmbiental-title">expertos cuida el ambiente</h2>
      <i class="fa fa-recycle Ambiental-logo" aria-hidden="true"></i>
      <a ui-sref="environment" class="FooterAmbiental-link">sigue nuestros tips para ayudar al medio ambiente</a>

  </div>
</div>
    <div class="Footer-end">
      <p class="Footer-description" > <i class="fa fa-copyright " aria-hidden="true"></i> 2017 all rigths reserved |<p class="Text-end">Developed by ADSI</p></p>
    </div>

</div>
