.Footer
    background #1e64aa
    text-align center

.FooterMain
    margin 0
    color white
    display inline-block
    width 30%
    height 11em
    border-left 1px solid silver
    border-right 1px solid silver

.FooterContainer
  display flex
  align-items baseline
  padding 1em 0
  justify-content space-around

a
    text-decoration none !important


.Footer-twitter, .Footer-facebook, .Footer-instagram, .Footer-youtube
    border-radius 5px
    color white
    font-size 15px
    border 1px solid silver

.Footer-twitter
    padding 10px 11px

.Footer-facebook
    padding 10px 14px

.Footer-instagram
    padding 10px 11.4px

.Footer-youtube
    padding 10px

.fa-check
    margin-left 0.25em
    color silver
    font-size 20px

.Footer-contacts
    text-align center
    display inline-block
    width 30%

.Phone-contact
    margin-right 0.25em
    color white
    font-size 20px
.Footer-number
  font-size 12px
  color white

.TextEmail
    display inline-block
    color white !important
    font-size 12px

.Email-contact
    margin-right 0.25em
    color white
    font-size 20px

.Home-contact
    margin-right 0.25em
    color white
    font-size 20px

.Contacts
    text-align center
    font-size 13px
    color white
    margin-top 1em
.Direction
    font-size 13px
    text-align center
    margin-left 0.5em
    color white

.Footer-networks-title
    text-align center
    display block
    font-size 20px

.Footer-networks
    text-align center
    top 1em
    text-decoration none
    margin 0
    padding 1em

.LinkNetworks
    font-size 35px
    text-align center
    margin 6px
    z-index 0
    color #FF7C01
    :hover
        transform scale(1.1)

.Footer-description
    display inline-block
    color white

.Text-end
    color #FF7C01
    display inline-block
    margin-left 3px

.Footer-end
  margin 0
  text-align center
  font-size 12px
  padding 1px 0
.Footer-end:before
  content ""
  display block
  height 1px
  background silver
  margin 0 auto 1.8em
  width 70%


.FooterAmbiental
    text-align center
    color white
    display inline-block
    width 30%
    vertical-align middle
    height 11em

.FooterAmbiental-title
    font-size 15px
    text-transform capitalize

.Ambiental-logo
    font-size 29px
    border-radius 5px
    border 1px solid silver
    padding 8px
    color white
    display block
    width 46px
    height 45px
    margin 0 auto 5px auto

.FooterAmbiental-link
    color white

@media screen and (max-width: 800px)
  .FooterContainer
    flex-direction column
  .Footer-contacts:before, .Footer-contacts:after
    content ""
    width 90%
    background silver
    height 1px
    display block
    margin 1em auto 0
  .FooterAmbiental
    display none
  .Footer-contacts
      width 100%
      order 2
  .FooterMain
      margin 0
      color white
      width 100%
      border none
      height inherit
  .Footer-end:before
    display none
  .Contacts
    margin-top 20px
  .Footer-networks-title
      margin-top 10px
      margin-bottom 0px
