@import "../bower_components/font-awesome/css/font-awesome.css"
@import "../bower_components/bootstrap/dist/css/bootstrap.css"

//
// Bootstrap Fonts
//

@font-face
  font-family: 'Glyphicons Halflings'
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot')
  src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
  url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');

//
// Font Awesome Fonts
//

@font-face
  font-family: 'FontAwesome'
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0')
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'),
  url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal
  font-style: normal

//
// App-wide Styles
//
body

  font-family 'Open Sans', sans-serif !important

.browserupgrade
  background #ccc
  color #000
  margin 0.2em 0
  padding 0.2em 0

// Component styles are injected through grunt
/* inject:styl */
@import 'about-us/about-us';
@import 'contact-us/contact-us';
@import 'environment/environment';
@import 'login/login';
@import 'main/main';
@import 'not-found/not-found';
@import 'restricted/restricted';
@import 'services-page/services-page';
@import 'users/users-create/users-create';
@import 'users/users-delete/users-delete';
@import 'users/users-list/ironmongery-list/ironmongery-list';
@import 'users/users-list/workers-list/workers-list';
@import 'users/users-profile/ironmongery-profile/ironmongery-profile';
@import 'users/users-profile/works-profile/works-profile';
@import 'users/users-update/ironmongery-update/ironmongery-update';
@import 'users/users-update/workers-update/workers-update';
@import 'users/users-view/users-view';
@import 'works-done/works-done-create/works-done-create';
@import 'works-done/works-done-delete/works-done-delete';
@import 'works-done/works-done-list/works-done-list';
@import 'works-done/works-done-update/works-done-update';
@import 'works-done/works-done-view/works-done-view';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/navbar/navbar';
@import '../components/slider/slider';
/* endinject */
