<header class="Header">
  <!--Toolbar -->
  <div id="" class="Toolbar">
    <div class="Container-toolbar">
      <div class="ToolbarMobile">
        <div class="PhoneNumbers"><i class="fa fa-phone Toolbar-tel"></i>
          <p class="Phone1">(57) 3122104288</p>
          <p class="Phone2">(57) 3157450959</p>
        </div>
      </div>

      <div class="ToolbarEmail">
        <i class="fa fa-envelope Toolbar-email"></i>

        <p class="Email1">StartUp@gmail.com</p>

      </div>

      <!--SEARCH BAR-->
      <div class="SearchBar-container">
        <form class="SearchBar">
          <input type="search" class="SearchBar-item" placeholder="Buscar...">
          <button type="submit" class="SearchBar-button">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
        </form>
      </div>

    </div>
  </div>
  <div class="TopBar">
    <figure class="TopBar-containerlogo">
      <img src="static/Images/logo.png" alt="LOGO" class="TopBar-logo">
      <figcaption class="TopBar-slogan">Remodelamos tu Hogar</figcaption>
    </figure>

    <!--SESION BUTTONS-->
    <div ng-if="!vm.AuthService.isAuthenticated()" class="ButtonContainer1">
      <a ui-sref="login" class="ButtonSesion">INICIAR SESION</a>

    </div>


    <div ng-if="!vm.AuthService.isAuthenticated()" class="ButtonContainer2">
      <a ui-sref="users-create" class="ButtonRegistrer">REGISTRARSE</a>

    </div>
    <div class="dropdown ButtonContainer3" ng-if="vm.AuthService.isAuthenticated()">
      <button class="btn btn-default dropdown-toggle ng-cloak" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{vm.AuthService.userInfo()}}
    <span class="caret"></span>
  </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li ng-if="vm.AuthService.isTrab() || vm.AuthService.isAdmin()"><a ui-sref="works-profile">Editar Perfil</a></li>
        <li ng-if="vm.AuthService.isFerr()"><a ui-sref="ironmongery-profile">Editar Perfil</a></li>
        <li><a role="button" ng-click="vm.logout()" href="">Cerrar sesion</a></li>
      </ul>
    </div>
  </div>

  <div class="Menu-bar">
    <a class="Bt-menu">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </a>
  </div>
  <!--NAV-BAR-->
</header>

<nav class="MainMenu">
  <ul class="MainMenu-list">

    <li class="MainMenu-item  MainMenu-itemTop">
      <a ui-sref="main" class="MainMenu-link"><i class="Nav-icon fa fa-home" aria-hidden="true"></i>Inicio</a>
    </li>


    <li class="MainMenu-item">
      <a ui-sref="ironmongery-list" ng-if="vm.AuthService.isAdmin()" class="MainMenu-link MainMenu-linkAbout"><i class="Nav-icon fa fa-info-circle" aria-hidden="true"></i>Listar Ferreterias</a>
      <a ui-sref="about-us" ng-if="!vm.AuthService.isAdmin()" class="MainMenu-link MainMenu-linkAbout"><i class="Nav-icon fa fa-info-circle" aria-hidden="true"></i>¿Quienes Somos?</a>
    </li>


    <li class="MainMenu-item">
      <a ui-sref="workers-list" ng-if="vm.AuthService.isAdmin()" class="MainMenu-link"><i class="Nav-icon fa fa-briefcase" aria-hidden="true"></i>Listar trabajadores</a>

      <a ui-sref="services-page" ng-if="!vm.AuthService.isAdmin()" class="MainMenu-link"><i class="Nav-icon fa fa-briefcase" aria-hidden="true"></i>Servicios</a>
    </li>


    <li class="MainMenu-item">
      <a ui-sref="offers-page" class="MainMenu-link"><i class="Nav-icon fa fa-pencil-square-o" aria-hidden="true"></i>Ofertas</a>
    </li>


    <li class="MainMenu-item">
      <a ui-sref="contact-us" class="MainMenu-link"><i class="Nav-icon fa fa-phone-square" aria-hidden="true"></i>Contáctanos</a>
    </li>
  </ul>
</nav>
