.AboutUs-sectionAll 
  background #fff


.AboutUs-section
  width 75%
  margin auto


.AboutUs-top
  border-bottom 3px solid #e6e6e6
  background #fff
  width 75%
  margin auto
  text-align center


.AboutIcon
  font-size 60px
  color lightseagreen
  display inline-block
  padding 20px 0


.AboutUs-title
  font-size 25px
  text-transform uppercase
  display table-cell
  font-family -webkit-body


.AboutUs-title2
  color orange


.About-text1
  text-align center
  width 70%
  margin auto
  text-align justify
  margin-top 2em
  line-height 30px



/* MISION */

.AboutUs-mision
  text-align center
  height 380px


.AboutUs-misionContainer
  width 50%
  text-align left
  line-height 35px
  display inline-block


.Image-mision
  width 250px
  height 250px
  position relative
  top 45px
  left 35px


.MisionIcon1
  display inline-block
  font-size 35px
  color cadetblue


.Misiontitle
  display inline-block
  font-size 30px
  color chocolate


.MisionIcon2
  display inline-block
  font-size 35px
  color cadetblue



/* VISION */

.AboutUs-vision
  text-align center
  height 380px


.AboutUs-visionContainer
  width 50%
  text-align right
  line-height 35px
  display inline-block


.Image-vision
  width 250px
  height 250px
  position relative
  right 35px


.VisionIcon1
  display inline-block
  font-size 35px
  color cadetblue


.Visiontitle
  display inline-block
  font-size 30px
  color chocolate


.VisionIcon2
  display inline-block
  font-size 35px
  color cadetblue
