span.ng-binding.ng-scope
  color: black!important

a:focus, a:hover
  text-decoration none !important

.Main-section
    background-color #fff

.InformationSection
    text-align center
    padding-top 2.5em
    padding-bottom 1em
    margin auto
    background white

.InformationSection::after
  content " "
  width 85%
  height 2px
  display block
  background-color #e5e5ea
  margin 14px auto 0

.InformationSection-container
  display flex
  justify-content space-between
  width 85%
  margin auto

.InformationSection-title
    margin 0
    text-transform uppercase
    font-size 30px
    margin auto
    color #1e64aa
    font-weight bold
    margin-bottom 7px
    padding-bottom 1em
.InformationSection-title::after
  content " "
  width 59px
  height 2px
  display block
  background-color #0078d2
  margin 14px auto 0

.Contratacion-main
  font-size 7em
  color #1e64aa
.Busca-main
  font-size 7em
  color #1e64aa
.Dolar-main1
  font-size 3em
  margin 0
  font-weight bold
  color #1e64aa
.Dolar-main2
  font-size 2.2em
  margin 0
  font-weight bold
  color #1e64aa
.Busca-container::after
  border-radius 100%
  content " "
  width 66px
  height 5px
  display block
  background-color #e5e5ea
  margin: 8px auto 0
.Contratacion-container::after
  border-radius 100%
  content " "
  width 66px
  height 5px
  display block
  background-color #e5e5ea
  margin: 8px auto 0
.Dolar-container::after
  border-radius 100%
  content " "
  width 66px
  height 5px
  display block
  background-color #e5e5ea
  margin: 8px auto 0

.Information1, .Information2, .Information3
    display inline-block
    width 33%
    height 20%
    padding 20px
    max-width 500px

.Information1
  background-color transparent
  vertical-align top
  border-right 1px solid #e5e5ea

.Information2
  background-color transparent
  border-right 1px solid #e5e5ea

.Information3
  background-color transparent

.Information-title
    text-align center
    padding-top 15px
    font-weight bold
    text-transform capitalize
    color #1e64aa
    font-size 1.3em

.Text1, .Text2, .Text3
    padding-top 1em
    color gray
    text-align left
    font-size: 1.1em

.Personal
    font-size 5em
    width 155px
    height 150px

.Consulta
    font-size 5em
    width 155px
    height 150px

.Contacto
    font-size 5em
    width 155px
    height 150px

@media screen and (max-width: 800px)
  .InformationSection-container
    display block
  .Information1, .Information2, .Information3
    display inline-block
    width 70%
    margin-bottom 2em
    border 1px solid #e5e5ea
  .Information-title
    text-align justify
  .InformationSection::after
    display none


@media screen and (max-width: 800px)
    .Tool-title
        width 60%
    .InformationSection-title
        font-size 1.6em

.WorkerProfileSection
    text-align center
    padding-bottom 5em
    background #fff

.WorkerProfileSection-container
    width 80%
    margin auto

.WorkerProfile-containerTitle
    background white
    margin 0
    padding 25px

.WorkerProfile-title
    text-transform uppercase
    font-size 30px
    color #1262b1
    font-weight bold
    margin 0
.WorkerProfile-title::after
  content " "
  width 59px
  height 2px
  display block
  background-color #0078d2
  margin 14px auto 0
.WorkerProfile-containerCards
  display flex
  flex-flow row wrap
  justify-content space-around
.WorkerProfile-socialNetwork
  padding-bottom 7px

.WorkerProfile-section
    display inline-block
    margin 3em 1.5% 0
    background-image url('../../static/Images/main/gray.png')
    box-shadow 4px 4px 3px 1px rgba(0, 0, 0, 0.55)
    display flex
    flex-direction column
.WorkerProfile-information
  display flex
  flex-direction column
  height 7.5em
.WorkerProfile-twitter, .WorkerProfile-facebook, .WorkerProfile-instagram, .WorkerProfile-email
    color #176fc9 !important
    padding 3px

.WorkerProfile-imageContainer
    display inline-block
    margin 10px

.WorkerProfile-image
    width 275px
    height 275px
.WorkerProfile-link
    padding 10px
    border-radius 10px
    border 1px solid white
    position relative
    bottom 135px
    color white
    font-weight bold
    text-decoration: none !important
.WorkerProfile-link:hover
  background-color: rgba(32, 74, 111, 0.75)
  color: silver



@media screen and (max-width: 800px)
    .WorkerProfile-title
        font-size 1.6em

@media screen and (max-width: 400px)
  .WorkerProfile-section
    width 70%
    margin 0

@media screen and (max-width: 400px)
    .WorkerProfile-image
        height 200px
        width 200px

@media screen and (max-width: 718px)
  .WorkerProfile-section
    margin 25px

@media screen and (max-width: 718px)
    .WorkerProfile-image
        height 200px
        width 200px

@media screen and (max-width: 600px)
  .WorkerProfile-section
    margin 24px
    width auto

@media screen and (max-width: 600px)
    .WorkerProfile-image
        height 185px
        width 185px

.IronmongerySection
  text-align center
.IronmongerySection::after
  content " "
  width 75%
  height 2px
  display block
  background-color #e5e5ea
  margin 14px auto 0
.Ironmongery-section1::after
  border-radius: 100%
  content " "
  width 12em
  height 8px
  display block
  background-color #e5e5ea
  margin: 15px auto 0
.Ironmongery-section2::after
  border-radius: 100%
  content " "
  width 12em
  height 8px
  display block
  background-color #e5e5ea
  margin: 15px auto 0
.Ironmongery-section3::after
  border-radius: 100%
  content " "
  width 12em
  height 8px
  display block
  background-color #e5e5ea
  margin: 15px auto 0
.Ironmongery-section4::after
  border-radius: 100%
  content " "
  width 12em
  height 8px
  display block
  background-color #e5e5ea
  margin: 15px auto 0
.Ironmongery-
  &section1-Title, &section2-Title, &section3-Title, &section4-Title
    color #808080
    font-size 25px
    font-weight bold

.Ironmongery-description
    margin-right auto
    margin-left auto
    width 80%
    color #808080
    font-size 15px

.IronmongeryDescription-ofert
  padding-top 16px
.Ironmongery-containerTitle
    background white
    margin 0
    padding 25px

.Ironmongery-title
    text-transform uppercase
    font-size 30px
    color #1262b1
    font-weight bold
    margin 0

.Ironmongery-title::after
  content " "
  width 59px
  height 2px
  display block
  background-color #0078d2
  margin 14px auto 0

.Ironmongery-sectionContainer
    padding 50px 0px

.Ironmongery-section1, .Ironmongery-section2, .Ironmongery-section3, .Ironmongery-section4
    display inline-block
    z-index 2

.Ironmongery-image
    height 210px
    width 235px
    border-radius 3px

@media screen and (max-width: 800px)
    .Ironmongery-title
        font-size 1.6em

.SponsorsSection
    text-align center
    margin auto
    background #fff
    width 80%

.Sponsors-containerTitle
    background white
    margin 0
    padding 25px

.Sponsors-title
    text-transform uppercase
    font-size 30px
    color #1262b1
    font-weight bold
    margin 0
.Sponsors-title::after
  content " "
  width 59px
  height 2px
  display block
  background-color #0078d2
  margin 14px auto 0

.Sponsors
    padding 4em 0

.Sponsors-section1, .Sponsors-section2, .Sponsors-section3, .Sponsors-section4
    display inline-block
    margin: 10px 10px

.Sponsors-imageContainer
    display inline-block

.Sponsors-image
    height 115px
    width 195px

@media screen and (max-width: 800px)
    .Sponsors-title
        font-size 1.6em

// PUBLICITY SECTION //

.PublicitySection
    background-image: url(../../assets/Iron-mongery/15.jpg)
    background-attachment: fixed
    background-size: cover
    z-index: 1
    background-position: 50% 50%;
    margin: auto
.PublicitysectionContainer
    background-color: rgba(25,52,76,0.35)
    padding: 10px 0px 140px
    text-align center
.Publicity-title
    color: #fff
    font-weight: 600
    font-size: 36px
    text-align center
.Publicity-containerDescription
    opacity: .9
    width: 91%
    position: relative
    top: 83px
    margin: auto
.Publicity-description
    text-align: justify
    width: 80%
    font-size: 20px
    color: #fff
    padding-bottom: 10px
    line-height: 1.3
    text-align center
    margin auto
    margin-bottom 1em
.Publicity-contactUsIcon
  color white
.Publicity-contactUs
    background: #ffa500
    color: #fff
    font-weight: bold
    padding: 10px 15px
    font-size: 17px
