md-switch:last-of-type
  margin-top 0
  margin-bottom 0

.WorkersList
  width 75%
  margin auto


.WorkersList-table-container
 overflow-x auto


.WorkersList-top
  border-bottom: 3px solid #e6e6e6
  background: #fff
  width: 75%
  margin: auto
  text-align: center
  margin-bottom 50px

.WorkersList-title
  font-size 25px
  text-transform uppercase
  padding-bottom 10px

.WorkersList-title2
  color rgb(255, 88, 0)

.WorkersList-image
  width: 125px
  padding: 25px 0

.WorkersList-tableHeadAtrib
  background peru

.WorkersList-tableAtrib
  text-transform uppercase

.WorkersList-name
  font-weight bold
  color black
  text-transform capitalize

.WorkersList-lastName
  font-weight bold
  color black
  text-transform capitalize
