.sample-show-hide
  -webkit-transition 0.5s linear all
  transition 0.5s linear all
  transition-delay 0.5s
  height 689px
  position absolute
  left 50%
  transform translate(-50%, 0)


.sample-show-hide.ng-enter
  opacity 0


.sample-show-hide.ng-enter-active
  opacity 1


.sample-show-hide.ng-leave
  opacity 1


.sample-show-hide.ng-leave-active
  opacity 0


.Label
  color white


span
  color white


md-input-container.md-default-themenot(.md-input-invalid).md-input-has-value label, md-input-containernot(.md-input-invalid).md-input-has-value label
  color white


md-input-container.md-input-has-value.md-input-invalid>label, md-input-container.md-input-has-value.md-input-invalid>input
  color #c82c12
  border-color #c82c12


md-input-container.md-input-focused>label, md-input-container.md-input-focused>input
  color orange!important
  border-color orange!important


.required
  color red


.FormRegister
  background-image url('../../../assets/User-form-images/formulario.jpg')
  background-size cover
  text-align center
  background-position 50% 50%


md-input-container
  height 83px!important
  margin 5px 0px!important
  transition all linear 0.5s
  display block


.ng-show
  height 83px


.FormRegister-title
  text-align center
  padding-top 2em
  font-size 3em
  color white


.FormRegister-image
  text-align center
  padding 5px
  border-radius 10px
  text-align center


.profile-imageDescription
  padding-top 5em
  text-align center
  font-weight bold
  margin 0


.FormRegister-imageInput
  text-align center
  padding 5px
  border-radius 10px
  text-align center
  margin 0


.DocumentType-container, .City-container, .Department-container
  text-align center
  border-radius 10px
  padding-bottom 2em
  margin 0
  border none


md-input-container .FormRegister-idNumber, md-input-container .FormRegister-name, md-input-container .FormRegister-lastname, md-input-container .FormRegister-password, md-input-container .FormRegister-passwordConfirm, md-input-container .FormRegister-email, md-input-container .FormRegister-telephone, md-input-container .FormRegister-movilTelephone, md-input-container .FormRegister-emailConfirm
  width 25em
  padding 15px 0px 10px 0
  background transparent
  border 0
  border-bottom 1px solid white
  outline none
  color white
  font-size 16px
  display block
  text-align center
  border-radius 0
  margin-bottom 20px


.ContactNetworks-1, .ContactNetworks-2
  width 25em
  padding 15px 0px 10px 0
  background transparent
  border 0
  border-bottom 1px solid white
  outline none
  color white
  font-size 16px
  display block
  text-align center
  border-radius 0
  margin-bottom 20px
  margin-left auto
  margin-right auto


.FormRegister-data
  border none
  text-align center
  margin 0
  display inline-block
  height 800px


.FormRegister-imageUser
  font-size 200px
  color lightgray


.ContactEmail-checkbox, .ContactNetworks-checkbox
  margin-left 10px


.inputModificado
  margin 10px 0px 10px 50px
  clear both


.inputImagen
  background #ffcc99
  opacity 0.5
  box-shadow 0px 0px 5px black, inset 0 0px 5px 2px black
  padding 5px
  border-radius 4px
  color #000
  font-weight bold
  float left
  margin-top -2px


.botonInputFileModificado
  position relative
  border-radius 10px
  background-color #fff
  color #000
  border 2px solid #666
  padding-bottom 2px
  box-shadow inset 0 0px 8px 2px black
  width 100px
  margin-left 180px


.botonInputFileModificadohover
  border 2px solid #fff
  background-color #333
  color #fff


.botonInputFileModificado .inputImagenOculto
  opacity 0
  position absolute
  margin-left -125px
  width 225px


.botonInputFileModificado .boton
  text-align center


.DocumentType-containerOption, .City-containerOption, .Department-containerOption
  padding 10px
  width 25em
  border-radius 10px
  text-align center
  margin-bottom 0em
  border none


.DocumentType-title, .City-title
  display inline
  padding 10px
  width 25em

  border-radius 10px
  text-align center
  border none


.MessagesContainer
  content ""
  height 33px


.Messages
  padding 0px!important


.Button-register
  padding 10px
  width 13em
  border none
  background white
  border-radius 5px
  display block
  margin-left auto
  margin-right auto
  color black
  font-weight bold


	@media screen and (max-width: 800px) {
	  .FormRegister-title {
	    color: white;
	  }
	  .DocumentType-containerOption, .City-containerOption, .Department-containerOption {
	    padding-bottom: 1em;
	    padding: 10px;
	  }
	  md-input-container .FormRegister-idNumber, md-input-container .FormRegister-name, md-input-container .FormRegister-lastname, md-input-container .FormRegister-password, md-input-container .FormRegister-passwordConfirm, md-input-container .FormRegister-email, md-input-container .FormRegister-telephone, md-input-container .FormRegister-movilTelephone, md-input-container .FormRegister-emailConfirm, md-input-container .ContactNetworks-1, md-input-container .ContactNetworks-2 {
	    display: inline-block;
	  }
	  .ContactNetworks-1, .ContactNetworks-2 {
	    display: block;
	    width: 50%;
	  }
	  .ContactEmail, .ContactNetworks {
	    width: 100%;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 1em;
	    color: white;
	  }
	  .profile-imageDescription {
	    padding-top: 2em;
	  }
	}

	@media screen and (max-width: 500px) {
	  .FormRegister-imageUser {
	    font-size: 150px;
	  }
	  .DocumentType-containerOption, .City-containerOption, .Department-containerOption {
	    padding-bottom: 1em;
	    padding: 10px 20px;
	    width: 100%;
	  }
	  md-input-container .FormRegister-idNumber, md-input-container .FormRegister-name, md-input-container .FormRegister-lastname, md-input-container .FormRegister-password, md-input-container .FormRegister-passwordConfirm, md-input-container .FormRegister-email, md-input-container .FormRegister-telephone, md-input-container .FormRegister-movilTelephone, md-input-container .FormRegister-emailConfirm, md-input-container .ContactNetworks-1, md-input-container .ContactNetworks-2 {
	    width: 265px;
	    display: inline-block;
	  }
	}


	@media screen and (max-width: 400px) {
	  .ContactEmail-checkbox, .ContactNetworks-checkbox {
	    margin-left: 10px;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 100%;
	  }
	  .DocumentType-containerOption, .City-containerOption, .Department-containerOption {
	    padding-bottom: 1em;
	    padding: 10px;
	    width: 100%;
	  }
	  md-input-container .FormRegister-idNumber, md-input-container .FormRegister-name, md-input-container .FormRegister-lastname, md-input-container .FormRegister-password, md-input-container .FormRegister-passwordConfirm, md-input-container .FormRegister-email, md-input-container .FormRegister-telephonemd-input-container, md-input-container .FormRegister-movilTelephone, md-input-container .FormRegister-emailConfirm, md-input-container .ContactNetworks-1, md-input-container .ContactNetworks-2 {
	    width: 100%!important;
	    display: inline-block;
	  }
	  .FooterAmbiental-message {
	    display: none;
	  }
	}
