<div ng-switch="vm.selected" class="container">
  <select ng-model="vm.selected">
  <option ng-repeat="item in vm.tipos" ng-selected="{trabajadores}" ng-value="item.model">Lista de {{item.model}}</option>
  </select>
  <div ng-switch-when="ferreterias">
      <table class="table table-hover" >
        <thead>
          <tr>
            <th>Razon Social</th>
            <th>Email</th>
            <th>Télefono</th>
            <th>Activo</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in vm.users | filter:{idDocumentType:{id:'NIT'}}">
            <td><a ui-sref="users-view({id:item.id})" ng-bind="item.name"></a> </td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td><md-switch class="md-primary" ng-change="vm.op(item)" ng-model="item.active" aria-label="true" ></md-switch></td>

          </tr>
        </tbody>
      </table>

  </div>
  <div ng-switch-default>

      <table class="table table-hover" >
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Télefono</th>
            <th>Activo</th>
          </tr>
        </thead>
        <tbody>

          <tr ng-repeat="item in vm.users | filter:{idDocumentType:{id:'!NIT'}}">
            <td><a ui-sref="users-view({id:item.id})"  ng-bind="item.name"></a></td>
            <td>{{item.lastName}}</td>
            <td>{{item.email}}</td>
            <td>{{item.phoneNumber}}</td>
            <td><md-switch class="md-primary" ng-change="vm.op(item)" ng-model="item.active" aria-label="true" ></md-switch></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
