.Loggin
  width 16em
  text-align center
  margin-left auto
  margin-right auto
  background-image url('../../../assets/User-form-images/formulario.jpg') !important
  background-size cover

.LogginForm
  background rgba(0, 4, 10, 0.56)
  margin-top -1px
  display inline-block
  padding 25px
  text-align center


.LogginForm-remidMe
  display inline-block
  margin-left 6px
  color azure


.LogginForm-email, .LogginForm-password
  background transparent
  border 0
  border-bottom 1px solid white
  outline none
  color white
  font-size 16px
  display block
  text-align center
  border-radius 0
  margin auto
  margin-bottom 1em
  padding 5px
  text-align center


.LogginForm-email::-webkit-input-placeholder, .LogginForm-password::-webkit-input-placeholder
  color silver


.LogginForm-CheckboxRemidMe
  display inline-block
  margin-bottom 0.5em


.LogginForm-botton
  padding 0.5em 3em
  border none
  background-color rgba(0, 4, 10, 0.56)
  color white
  font-weight bold
  border-radius 5px
  border-right 1px solid white
  border-left 1px solid white
  cursor pointer


.LogginForm-forgotPassword
  display block
  margin-top 0.5em
  color azure

  @media screen and (max-width:800px) {
    .Loggin {
      width: 100%;
      background-image: url('../../../assets/User-form-images/formulario.jpg') !important;
      background-size: cover;
      background-position: 50% 50%;
    }
    .LogginForm {
      background: none;
      border: none;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 10em 0;
    }
    .LogginForm-email, {
      margin-bottom: 2em;
    }
    .LogginForm-email, .LogginForm-password {
      width: 25em;
      padding: 15px 0px 10px 0;
      background: transparent;
      border: 0;
      border-bottom: 1px solid white;
      outline: none;
      color: white;
      font-size: 16px;
      display: block;
      text-align: center;
      border-radius: 0;
      margin-bottom: 20px;
    }
    .LogginForm-forgotPassword {
      margin-top: 1em;
    }
    .LogginForm-Registre {
      margin-top: 1em;
    }
    .LogginForm-CheckboxRemidMe {}
    .LogginForm-botton {
      border-left: none;
      border-right: none;
    }
  }

  @media screen and (max-width:600px) {
    .LogginForm-email, .LogginForm-password {
      width: 70%;
      height: 90%;
    }
  }

  @media screen and (max-width:500px) {
    .LogginForm-email, .LogginForm-password {
      width: 70%;
      height: 130%;
    }
  }
